[2018-12-05 22:51] jpradocueva opened #3 "[Open-AIS] Pending Issues"
The xml & technical specification validation has highlighted the following errors with the submission of Open-AIS objects:
**Objects / Resources:**
**PRs need to be issued against "Open-AIS" branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/Open-AIS**
- [ ] 3388
  - [ ] 4001, range-enumeration is different from the value defined in the OMNA Registry
  - [ ] 4001, units are differen

[2018-12-07 00:09] jpradocueva opened #4 "[ATT] Connectivity Extension - 10308"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-11-29 19:16:40 UTC</td></tr><tr><td>Submitter's name</td><td>David K Smith</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>AT&T</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>AT&T Connectivity

[2018-12-07 00:45] jpradocueva commented on #4
PRs #6 & #5

[2018-12-08 02:30] jpradocueva commented on #4
**Pending Issues**
- [ ] Software license is missing

[2018-12-10 18:49] jpradocueva opened #8 "[SE-Water] Registration of Voltage Transient"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-11-15 14:00:18 UTC</td></tr><tr><td>Submitter's name</td><td>Andrew Foster-Knight</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>South East Water Corporation</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object

[2018-12-10 18:51] jpradocueva opened #9 "[SE-Water] OMNA-Registration of Pressure Transient"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-11-15 14:14:23 UTC</td></tr><tr><td>Submitter's name</td><td>Andrew Foster-Knight</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>South East Water Corporation</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object

[2018-12-10 18:51] jpradocueva commented on #9
This registration was previously submitted as: https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/434

[2018-12-10 18:52] jpradocueva opened #10 "[SE-Water] OMNA-Registration of Voltage Logging"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-11-15 15:07:57 UTC</td></tr><tr><td>Submitter's name</td><td>Andrew Foster-Knight</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>South East Water Corporation</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object

[2018-12-10 18:53] jpradocueva commented on #10
This registration was previously submitted as: https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/435

[2018-12-10 19:07] jpradocueva commented on #8
This registration was previously submitted as: https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/433

[2018-12-10 23:22] github-oma opened #11 "OMNA-Registration of Load Control"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-12-10 23:22:31 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Loa

[2018-12-10 23:23] jpradocueva commented on #11
Test.

[2018-12-10 23:23] #11 closed

[2018-12-12 03:40] github-oma opened #14 "OMNA-Registration of Reusable resources"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-12-12 03:40:38 UTC</td></tr><tr><td>Submitter's name</td><td>haideinet</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>haideinet</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Download Object</td><td><

[2018-12-14 00:57] jpradocueva commented on #14
This registration is cancelled as no description of Reusable Resources is provided.

[2018-12-14 00:57] #14 closed

[2018-12-14 05:21] github-oma opened #15 "OMNA-Registration of Reusable resources"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-12-14 05:21:14 UTC</td></tr><tr><td>Submitter's name</td><td>李福杰</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>重庆英卡电子</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Download Object</td><td><a href="h

[2018-12-14 05:40] jpradocueva commented on #15
Issue is closed as the registration of the reusable resource is incorrect. No description and RR ID is allocated by the staff.

[2018-12-14 05:40] #15 closed

[2018-12-14 23:23] github-oma opened #16 "[TMO] Temp: 10304 - OMNA-Registration of WiFi Scan"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-12-14 23:23:21 UTC</td></tr><tr><td>Submitter's name</td><td>Joe Baird</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>T-Mobile</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>WiFi Scan</td></tr

[2018-12-14 23:26] github-oma opened #17 "[TMO] Temp: 10305 OMNA-Registration of Activity"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-12-14 23:26:22 UTC</td></tr><tr><td>Submitter's name</td><td>Joe Baird</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>T-Mobile</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Activity</td></tr>

[2018-12-15 01:31] jpradocueva commented on #16
@joebaird  a new branch called [TMO] has been created to submit your new registrations. Once the PRs are submitted we will validate them and the discussion with the working group will start. Please be aware that we are creating the new registration process as we go along, changes to the guidelines should be expected.

[2018-12-18 19:42] joebaird commented on #16
Thank you @jpradocueva

[2018-12-18 21:39] jpradocueva opened #20 "[Open-AIS] Feedback from Open-AIS"
Comments from Open - AIS experience:

However, I do think some of the learnings should trigger some clarification / discussion at your side:

-x- decide / document the correct and acceptable way to define string length:
A:
<type>String</type>
<RangeEnumeration>0-16 bytes</RangeEnumeration>
<units></units>
B:
<type>String</type>
<RangeEnumeration>0-16</RangeEnumeration>
<Units>byte</Units>

-x- con

[2018-12-19 09:43] github-oma opened #22 "[TUT] OMNA-Registration of LWM2M Meta Object -10300"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-12-19 09:43:09 UTC</td></tr><tr><td>Submitter's name</td><td>Tampere University of Technology</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Meta Object</td></tr><tr><td>Objec

[2018-12-20 01:31] github-oma opened #25 "OMNA-Registration of HostDevice"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-12-20 01:31:22 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Test - Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Hos

[2018-12-20 01:32] jpradocueva commented on #25
Test registration. To be closed.

[2018-12-20 01:32] #25 closed

[2018-12-21 11:46] github-oma opened #27 "[HuaXiang] OMNA-Registration of DeviceDataContainer -10309"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2018-12-21 11:46:56 UTC</td></tr><tr><td>Submitter's name</td><td>DengJia</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>HuaXiangIOT</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>DeviceDataContain

[2018-12-26 17:05] jpradocueva commented on #3
Problems have been resolved.

[2018-12-26 17:05] #3 closed

[2019-01-02 17:41] jpradocueva commented on #22
Branch: [TUT](https://github.com/OpenMobileAlliance/lwm2m-registry/tree/TUT)
Temporal ObjectID: 10300

[2019-01-02 23:12] jpradocueva commented on #22
Errors found on the validation of 10300 Object:

Error Code |   Error Description | ObjectID: ResourceID
-- | -- | --
463 |    RangeEnumeration is different | 10300:4000
464 |    Units is different | 10300:4000

According to the Technical Specification, section 7.3.2 Reusable Resources. Values of Reusable Resources defined in OMNA cannot be modified when used inside of an Object.

[2019-01-03 00:18] jpradocueva commented on #27
This Object has been submitted for discussion here: https://github.com/OpenMobileAlliance/lwm2m-registry/pull/33

[2019-01-03 00:43] jpradocueva commented on #27
Several commits were applied after OMNA validation.

[2019-01-08 23:30] github-oma opened #35 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-01-08 23:30:46 UTC</td></tr><tr><td>Submitter's name</td><td>TEST, Please IGNORE!</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</

[2019-01-09 00:50] github-oma opened #36 "OMNA-Registration of Distance"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-01-09 00:50:28 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Distance<

[2019-01-09 00:53] jpradocueva commented on #36
Test

[2019-01-09 00:53] #36 closed

[2019-01-09 00:53] #35 closed

[2019-01-09 09:41] github-oma opened #37 "OMNA-Registration of Test Object"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-01-09 09:41:27 UTC</td></tr><tr><td>Submitter's name</td><td>Sean Mcilroy</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Test Org</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Test Object</td

[2019-01-09 09:44] seanmcilroy29 commented on #37
Testing new Registration repo

[2019-01-09 09:44] #37 closed

[2019-01-15 11:39] github-oma opened #38 "OMNA-Registration of ActivitySensor"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-01-15 11:39:01 UTC</td></tr><tr><td>Submitter's name</td><td>mahsa</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>sarveen</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>ActivitySensor</td></tr

[2019-01-15 12:00] seanmcilroy29 commented on #38
Thank you for your object registration but there are a number of observations with resource 5700.
 - Miss match with reusable resources on: Type
 - Miss match with reusable resources on: RangeEnumeration
 - Miss match with reusable resources on: Unit
 - No object version

Addition the submitted Object has no License declaration

Please could you review your Object submission ([guidelines](https://

[2019-01-15 12:00] #38 closed

[2019-01-16 19:32] github-oma opened #39 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-01-16 19:32:37 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Sec

[2019-01-16 19:33] #39 closed

[2019-01-17 13:07] dirtyha opened #40 "IPSO sensor object application type resource"
I work for a sensor manufacturer for environmental monitoring. Generally speaking I like what IPSO sensor objects have to offer. However, I'm frustrated that 'Application Type' -resource is missing in many sensor objects (3200-3350). Let's take an example Temperature /3303 that contains no Application Type. Our weather stations can contain multiple temperature sensors: air temperature, road surfac

[2019-01-17 13:30] dirtyha opened #41 "IPSO sensor object average value"
I work for a sensor manufacturer for environmental monitoring. Generally speaking I like what IPSO sensor objects have to offer. What we would like to see in sensor objects are harmonized resources for 1) average value (read) and 2) statistical period (read/write). Averaging is business as usual in weather station sensors, which are able to report current, min, max and averaged measurement values.

[2019-01-22 09:41] seanmcilroy29 commented on #27
The Object has been reviewed by the Working Group and comments were submitted to the following Pull Request https://github.com/OpenMobileAlliance/lwm2m-registry/pull/33

Please can you review the comments and update accordingly.
Once completed the Working Group will review the updates

[2019-01-22 09:43] seanmcilroy29 commented on #22
The Object has been reviewed by the Working Group and comments were submitted to the following Pull Request https://github.com/OpenMobileAlliance/lwm2m-registry/pull/32

Please can you review the comments and update accordingly.
Once completed the Working Group will review the updates

[2019-01-23 00:40] jpradocueva opened #45 "Problem with 3380 Object"
```This issue was initially reporting in the "ipso-wg" repository: rhttps://github.com/OpenMobileAlliance/ipso-wg/issues/171```

Object 3380 registered by GSMA has failed validation due to Reusable Resource 6038.
The Type value for this Reusable Resource inside of the Object is set to "Boolean" but the same Reusable Resource in OMNA has been defined as "Integer".

The group needs to decide what is

[2019-01-23 01:12] jpradocueva opened #46 "10260 object - errors"
The following Object 10260, was updated to version 2.0.
However, the old object is still available and fail validation. See issues below:

Error| Description | Object
-- | --| --
201 | Name is different for same Object ID | 10260
413 | Incorrect Type/Operation combination | 10260:3
201 | Name is different for same Object ID | 10260

Suggestion
``` Remove the Object 10260 version 1.0 from the regis

[2019-01-23 09:14] seanmcilroy29 opened #47 "[Admin] Incorrect Mandatory value applied - Object 10282"
Object 10282
```Mandatory``` resource has the incorrect value applied as either ```Yes``` or ```No```
Element to be updated to the correct value of either ```Mandatory``` or ```Optional```

[2019-01-23 09:27] seanmcilroy29 opened #48 "[Admin] Object 10282 - urn mismatch"
Object 10282 is registered as an x-label object, however the object urn has incorrectly been applied with **ext** - urn:oma:lwm2m:**ext**:10282, so this should be updated to **x** - urn:oma:lwm2m:**x**:10282

[2019-01-23 16:40] seanmcilroy29 commented on #48
Issue resolved with PR #55

[2019-01-23 16:40] #48 closed

[2019-01-23 16:41] seanmcilroy29 commented on #47
Issue resolved with PR #54

[2019-01-23 16:41] #47 closed

[2019-01-23 16:43] mkgillmore commented on #41
@dirtyha Thanks for the comment,  are you proposing a new object/resource that can do the average.  Would a re-usable resource that allowed for average, statistical period, etc.

[2019-01-23 16:47] mkgillmore commented on #40
@dirtyha Could this functionality be added with a re-usable resource?  Could you provide an example of how you would like to see 'Application Type' added to a object?  Thanks!

[2019-01-23 18:37] jpradocueva commented on #4
These issues are address in PR #5

[2019-01-23 18:37] #4 closed

[2019-01-24 05:06] github-oma opened #58 "OMNA-Registration of ShareParkingLock"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-01-24 05:06:17 UTC</td></tr><tr><td>Submitter's name</td><td>DengJia</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>HuaXiangIOT Technologies Co., Ltd. </td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</

[2019-01-24 06:25] github-oma opened #59 "OMNA-Registration of ShareParkingLock"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-01-24 06:25:26 UTC</td></tr><tr><td>Submitter's name</td><td>DengJia</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>HuaXiangIOT Technologies Co., Ltd. </td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</

[2019-01-24 08:55] github-oma opened #60 "[HuaXiangIOT] - OMNA-Registration of ShareParkingLock - 10310"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-01-24 08:55:55 UTC</td></tr><tr><td>Submitter's name</td><td>DengJia</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>HuaXiangIOT Technologies Co., Ltd. </td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</

[2019-01-24 09:50] seanmcilroy29 commented on #58
@DengJia - Thankyou for your registration.
There are a couple of observations:
- [ ] The object ID allocation for this object will be reserved as ```10310```
- [ ] The object URN allocation for this object will be reserved as ```oma:lwm2m:x:10310```
These updates will be applied to the xml object file once the IPSO WG has completed its review and agreed on the publication of this object.

[2019-01-24 09:54] seanmcilroy29 commented on #58
Object has been updated in issue #60

[2019-01-24 09:54] #58 closed, assigned to nobody

[2019-01-24 09:55] seanmcilroy29 commented on #59
This object has been updated in issue #60

[2019-01-24 09:55] #59 closed, assigned to nobody

[2019-01-24 10:36] seanmcilroy29 commented on #60
@dengjia - Thankyou for your registration.
There are a couple of observations:

- [ ] The object ID allocation for this object will be reserved as ```10310```
- [ ] The object URN allocation for this object will be reserved as ```oma:lwm2m:x:10310```
These updates will be applied to the xml object file once the IPSO WG has completed its review and agreed on the publication of this object.

[2019-01-24 23:36] jpradocueva commented on #60
@dengjia further comments that need to be addressed before accepting this submission:

- [ ] The legal disclaimer doesn't comply with any of the disclaimers suggested in the LwM2M Editor tool. The impact of that is that this Object may not be widely used. We suggest to use one of the licenses provided in the tool, please DO NOT USE OMA license; this license is dedicated to OMA members only.
- [ ]

[2019-01-25 08:54] github-oma opened #62 "OMNA-Registration of Name"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-01-25 08:54:05 UTC</td></tr><tr><td>Submitter's name</td><td>Sean Mcilroy</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Test Org</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Name</td></tr><

[2019-01-25 09:16] github-oma opened #63 "OMNA-Registration of Name"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-01-25 09:16:00 UTC</td></tr><tr><td>Submitter's name</td><td>Sean Mcilroy</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>hhh</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Name</td></tr><tr><t

[2019-01-25 09:48] seanmcilroy29 commented on #62
Object submitted to conduct a test

[2019-01-25 09:48] #62 closed, assigned to nobody

[2019-01-25 09:48] seanmcilroy29 commented on #63
Object submitted to conduct a test

[2019-01-25 09:48] #63 closed, assigned to nobody

[2019-01-25 11:39] seanmcilroy29 commented on #60
@dengjia - A place holder for this Object has been added to the HuaXiang.
Please can you
- [ ] review the submitted comments highlighted above and update the object accordingly
- [ ] submit your object to https://github.com/OpenMobileAlliance/lwm2m-registry/tree/HuaXiang branch
- [ ] Once you've submitted the object an final validation will conducted prior to the Working Group providing comments

[2019-01-26 10:25] akeranen commented on #40
We could simply add resource 5750 to the IPSO SOs that are lacking it, or at least the ones we are now updating. @mkgillmore see for example [3200](http://www.openmobilealliance.org/tech/profiles/lwm2m/3200.xml) vs. [3303](http://www.openmobilealliance.org/tech/profiles/lwm2m/3303.xml).

However some of the "application types" @dirtyha mentioned seem more like a "context". I wonder if we should ha

[2019-01-28 10:12] dirtyha commented on #40
Ok, let's see the backgroud for my request. In our measurement systems we use a (non-LwM2M related) structure called 'measurement parameters'. It is meta data that describes what has been measured and how. It contains the following fields:

1.type: measurement type e.g. numerical, textual etc. (match in IPSO SO meta data)
2.name: our standard to identify what has been measured e.g. AIR_TEMPERATURE

[2019-01-28 11:14] dirtyha commented on #41
This issue is related to issue #40 that I created. Maybe they could be combined, but at the time I thought they could be separate.

Perhaps there could be a separate object to describe sensor meta data and IPSO SO could then have a object link type resource pointing to this object. The meta data object could be sensor manufacturer specific custom object and it could re-use existing or new re-usabl

[2019-01-30 09:11] seanmcilroy29 opened #67 "Guidelines for constructing Objects/RR enhancement review"
**R&A Review - From 2019-01-31 at 08:00 GMT to 2019-02-13 at 18:00 GMT**

Submission of comments to enhance the current Object/RR guidelines

- [ ] http://member.openmobilealliance.org/ftp/Public_documents/DM/Permanent_documents/OMA-ORG-Guidelines_Creation_Registration_LwM2M_Objects_Resources-V1_0_1-20190115-A.zip

[2019-01-30 10:18] seanmcilroy29 opened #69 "[ADMIN] OMNA LwM2M Registry Vorto links have stopped working"
OMNA LwM2M Registry Vorto links have stopped working:
An issue has been created in eclipse :  https://github.com/eclipse/vorto/issues/1350
Once resolved the links will be update

[2019-02-04 23:32] jpradocueva opened #70 "OMNA-Registration of CmdhDefaults"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-02-04 23:32:15 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>CmdhDefau

[2019-02-05 23:03] github-oma opened #71 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-02-05 23:03:50 UTC</td></tr><tr><td>Submitter's name</td><td>Svante Alnås</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</td><td>t

[2019-02-05 23:04] #71 closed, assigned to nobody

[2019-02-05 23:20] jpradocueva opened #72 "OMNA-Registration of Name"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-02-05 23:20:32 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Nam

[2019-02-05 23:30] jpradocueva opened #73 "OMNA-Registration of CmdhPolicy"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-02-05 23:30:04 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Cmd

[2019-02-05 23:32] #73 closed, assigned to nobody

[2019-02-05 23:33] #72 closed, assigned to nobody

[2019-02-07 16:56] jpradocueva opened #75 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-02-07 16:56:34 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM

[2019-02-07 16:57] #75 closed, assigned to nobody

[2019-02-13 15:03] #70 closed, assigned to nobody

[2019-03-11 00:55] github-oma opened #77 "OMNA-Registration of Reusable resources"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-03-11 00:55:37 UTC</td></tr><tr><td>Submitter's name</td><td>Heihei</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Download Object</td><td><a href="https://devtoolkit.openmobilealliance.org

[2019-03-11 02:32] jpradocueva commented on #77
Incorrect reusable registration

[2019-03-11 02:32] #77 closed, assigned to nobody

[2019-03-11 05:05] github-oma opened #78 "OMNA-Registration of Reusable resources"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-03-11 05:05:44 UTC</td></tr><tr><td>Submitter's name</td><td>Jack</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Golden maple data, co.ltd.</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Download Obje

[2019-03-11 05:14] jpradocueva commented on #78
Please provide description.

[2019-03-11 05:16] jpradocueva commented on #78
The temperature units should be expressed as (C) without the degrees symbol.

[2019-03-11 05:31] peaceblues commented on #78
Ok, thanks, please ignore this request, my intention is to create a object, so I will withdraw the ticket.

[2019-03-11 06:16] github-oma opened #79 "[Golden maple data] Air_Temperature_Humidity - 10310"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-03-11 06:16:53 UTC</td></tr><tr><td>Submitter's name</td><td>mintchest mintchest</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Golden maple data, co.ltd.</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Nam

[2019-03-11 06:17] jpradocueva commented on #78
No worries, I will close it now. If you have any question don't hesitate to get in contact.
For your information we are in the process to introduce further changes in the registration process. Submitters will be able to create a pull request directly with their object/resource.

[2019-03-11 06:17] #78 closed, assigned to nobody

[2019-03-11 11:31] seanmcilroy29 commented on #60
The content of this file has been moved to 10309.xml object see issue #76

[2019-03-11 11:31] #60 closed, assigned to nobody

[2019-03-11 12:43] seanmcilroy29 commented on #79
@mintchest - Thankyou for your registration.
- The object ID allocation for this object will be reserved as 10310
- The object URN allocation for this object will be reserved as oma:lwm2m:x:10310

- A new branch has been created in the LwM2M registry for the WG to review your object - https://github.com/OpenMobileAlliance/lwm2m-registry/tree/Golden-maple-data

- [ ] Please upload your object as a

[2019-03-12 06:42] peaceblues commented on #79
Thanks, But I don't fully understand what's the next step, still use the editor to register the same object, or just submit .xml file of the object to github?

[2019-03-12 07:14] jpradocueva commented on #79
@peaceblues if your object is 10310, then please submit a Pull Request with the content of your object agains the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/Golden-maple-data.

The registration process is under review, in any case the current steps are:

1/ The first part is to submit the object using the tool, (what you have done already).
2/ Then the staff evaluates if the

[2019-03-12 08:59] peaceblues commented on #79
For object and resource, both of them have multiple/single and mandatory/optional parameters, I don't fully understand, resource multiple/single means there's multiple/single resources in one object, while multiple/single object means there's multiple/single objects in one client, is that right?

Mandatory/optional of resource is easy to understand, while those of objects is very confused, could y

[2019-03-12 13:17] peaceblues commented on #79
@jpradocueva thanks for your help, I've created PR for the object 10310, would you please review?

Besides that, I don't fully understand multiple/single and mandatory/optional of objects/resources.

Resource multiple/single means there're multiple/single resources in one object, while multiple/single object means there're multiple/single objects in one client, is that right?

Mandatory/optional o

[2019-03-12 16:46] seanmcilroy29 commented on #79
Appendix D. LwM2M Object Template and Guidelines Section D1 Object Template of http://openmobilealliance.org/release/LightweightM2M/V1_1-20180710-A/OMA-TS-LightweightM2M_Core-V1_1-20180710-A.pdf provides an overview of Object and Resource definitions.

[2019-03-13 02:41] peaceblues commented on #79
@seanmcilroy29 thanks. I've updated .xml file, please review?

[2019-03-15 07:29] dirtyha commented on #40
I noticed this issue (https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/429). Based on that issue and comment by @hannestschofenig , I could add optional re-usable resources into my IPSO SO and still conform to LwM2M standard. Is that so? That would solve the missing Application Type resource in some SOs.

[2019-03-19 07:01] github-oma opened #85 "[Vaisala] Solar Radiation - 10311"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-03-19 07:01:37 UTC</td></tr><tr><td>Submitter's name</td><td>Harri Hytönen</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Vaisala</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Solar Radiation

[2019-03-19 07:08] dirtyha commented on #41
We have solved this issue by creating a new object instance for averaged measurement.

[2019-03-19 07:08] #41 closed

[2019-03-20 09:43] seanmcilroy29 commented on #85
@Harri - Thankyou for your registration.

- The object ID allocation for this object will be reserved as 10311
- The object URN allocation for this object will be reserved as oma:lwm2m❌10311

A new branch Vaisala has been created in the LwM2M registry for the WG to review your object
- [ ]  please submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobi

[2019-03-20 09:48] Harri commented on #85
Hi,

You got wrong Harri tagged in there :) https://github.com/Harri is me, Harri Paavola. Harri Hytönen is someone else.

[2019-03-20 09:50] seanmcilroy29 commented on #79
@mintchest - Please note a number of comments have been submitted to your PR #82
Please can you review and submit your comments asap so the Working Group can agree the object

[2019-03-25 14:28] dirtyha commented on #85
@seanmcilroy29 , can you check that I have rights to push changes?

[2019-03-26 18:53] jpradocueva commented on #85
@dirtyha in order to submit your PR you will need to fork the repository into your personal account and then send the PR agains the [Vaisala] branch. Unfortunately, we don't grant write access to external users.

[2019-04-01 23:50] JiaDeng-Git opened #90 "Object name and Company name"
We request modify the Object name and the company name.

Object name should be "Shareparkinglot".
Company name should be "XiangYiIOT Technologies Co., Ltd. ".

Thanks a lot.

[2019-04-02 00:45] github-oma opened #91 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-02 00:45:17 UTC</td></tr><tr><td>Submitter's name</td><td>Svante</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</td><td>TEST PL

[2019-04-02 00:45] #91 closed, assigned to nobody

[2019-04-02 13:32] jpradocueva commented on #27
PR #76 has been approved.

[2019-04-02 13:32] #27 closed

[2019-04-02 15:13] ScottTaftPotter commented on #16
@joebaird, we are closing this issue and the TMO feature branch  for now. You can resubmit at any time.

[2019-04-02 15:13] #16 closed

[2019-04-02 15:14] ScottTaftPotter commented on #17
@joebaird, we are closing this issue and the TMO feature branch  for now. You can resubmit at any time.

[2019-04-02 15:14] #17 closed

[2019-04-02 15:22] ScottTaftPotter commented on #20
@mkgillmore : We would like to capture this feedback appropriately before closing this issue. Suggestion from the group is to assign specific tasks and drive them to a close.

[2019-04-02 15:27] ScottTaftPotter commented on #22
Pull request #66 has superseded 32, closed.

[2019-04-02 15:48] #90 closed, assigned to nobody

[2019-04-02 15:50] jpradocueva commented on #69
Resolved by PR #68

[2019-04-02 15:50] #69 closed, assigned to seanmcilroy29

[2019-04-02 15:51] jpradocueva commented on #67
New guidelines have been created. Next step is to develop context sensitive help on line tools.

[2019-04-02 15:51] #67 closed, assigned to jpradocueva

[2019-04-02 16:07] jpradocueva commented on #46
To be discussed by the IPSO WG. Potentially reach out to NetComm before depreciating.

[2019-04-02 16:46] jpradocueva commented on #45
To be discussed by the IPSO WG.

[2019-04-02 22:14] github-oma opened #96 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-02 22:14:22 UTC</td></tr><tr><td>Submitter's name</td><td>Svante Alnås</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</td><td>T

[2019-04-02 23:10] SvanteAlnas opened #97 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-02 23:10:13 UTC</td></tr><tr><td>Submitter's name</td><td>Svante</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</td><td>TEST, P

[2019-04-03 07:22] github-oma opened #98 "OMNA-Registration of Reusable resources"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-03 07:22:25 UTC</td></tr><tr><td>Submitter's name</td><td>ZSL</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Download Object</td><td><a href="https://devtoolkit.openmobilealliance.org/OE

[2019-04-03 07:23] github-oma opened #99 "OMNA-Registration of Reusable resources"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-03 07:23:45 UTC</td></tr><tr><td>Submitter's name</td><td>ZSL</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Download Object</td><td><a href="https://devtoolkit.openmobilealliance.org/OE

[2019-04-03 09:58] #96 closed, assigned to nobody

[2019-04-03 09:58] #97 closed, assigned to nobody

[2019-04-03 10:00] jpradocueva commented on #99
A registration without description is not accepted.

[2019-04-03 10:00] #99 closed, assigned to nobody

[2019-04-03 10:01] jpradocueva commented on #98
A registration with a suitable description is not accepted

[2019-04-03 10:01] #98 closed, assigned to nobody

[2019-04-11 21:29] jpradocueva opened #111 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-11 21:29:15 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM

[2019-04-11 21:30] #111 closed, assigned to nobody

[2019-04-15 13:44] github-oma opened #113 "OMNA-Registration of Tracking Configuration"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-15 13:44:23 UTC</td></tr><tr><td>Submitter's name</td><td>Peter Gaspar</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>A1 Digital International GmbH</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</t

[2019-04-15 13:46] github-oma opened #114 "OMNA-Registration of Tracking Configuration"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-15 13:46:27 UTC</td></tr><tr><td>Submitter's name</td><td>Peter Gaspar</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>A1 Digital International GmbH</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</t

[2019-04-15 13:46] github-oma opened #115 "[A1 Digital International GmbH] Tracking Configuration - 10312"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-15 13:46:46 UTC</td></tr><tr><td>Submitter's name</td><td>Peter Gaspar</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>A1 Digital International GmbH</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</t

[2019-04-15 13:53] seanmcilroy29 commented on #113
Duplication submission see #115

[2019-04-15 13:53] #113 closed, assigned to nobody

[2019-04-15 13:54] seanmcilroy29 commented on #114
Duplication submission see #115

[2019-04-15 13:54] #114 closed, assigned to nobody

[2019-04-15 14:45] github-oma opened #116 "OMNA-Registration of Tracking Configuration"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-15 14:45:29 UTC</td></tr><tr><td>Submitter's name</td><td>Peter Gaspar</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>A1 Digital International GmbH</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</t

[2019-04-17 07:40] seanmcilroy29 commented on #116
Duplicate issue see - https://github.com/OpenMobileAlliance/lwm2m-registry/issues/116

[2019-04-17 07:40] #116 closed, assigned to nobody

[2019-04-18 08:49] seanmcilroy29 commented on #115
Thank you for your registration.

 - The object ID allocation for this object will be reserved as 10312
 - The object URN allocation for this object will be reserved as oma:lwm2m❌10312
 - A new branch ```digital``` has been created in the LwM2M registry for the WG to review your object

- [ ] please submit a Pull Request with the content of your object against the branch: https://github.com/OpenMo

[2019-04-18 15:31] mkgillmore commented on #46
Group agrees 4/18/19 to mark 1.0 version of this object as obsolete and to update the object description in the registry

[2019-04-18 15:42] mkgillmore commented on #45
Group agrees to create a 2.0 version that addresses the issues and to mark the 1.0 version as deprecated

[2019-04-18 15:49] mkgillmore commented on #20
@hannestschofenig
Create a pull request for lwm2m v1.2 to address these additional data types

[2019-04-24 06:29] github-oma opened #125 "OMNA-Registration of Firmware Update"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-24 06:29:33 UTC</td></tr><tr><td>Submitter's name</td><td>Baochen Sun</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Firmware Update</td></tr><tr><td>Object Description</td><td>t

[2019-04-24 15:12] jpradocueva commented on #45
See PR #126

[2019-04-24 15:21] jpradocueva commented on #46
See PR #127

[2019-04-25 07:46] seanmcilroy29 commented on #125
Object a duplication of Object ID 05 *Firmware Update*

[2019-04-25 07:46] #125 closed, assigned to nobody

[2019-04-26 14:50] seanmcilroy29 commented on #45
PR https://github.com/OpenMobileAlliance/lwm2m-registry/pull/126 agreed and merged.
Can now be closed

[2019-04-26 15:11] jpradocueva commented on #45
Merge branch 3380-2_0 into test branch

[2019-04-27 02:55] jpradocueva opened #134 "OMNA-Registration of RDB"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-27 02:55:42 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>RDB

[2019-04-27 02:56] jpradocueva commented on #134
Test

[2019-04-27 02:56] #134 closed, assigned to nobody

[2019-04-27 03:28] jpradocueva commented on #85
See PR #123

[2019-04-27 03:28] #85 closed, assigned to nobody

[2019-04-27 03:28] jpradocueva commented on #45
See PR #126

[2019-04-27 03:28] #45 closed

[2019-04-27 03:29] #46 closed

[2019-04-27 21:16] SvanteAlnas opened #136 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-27 21:16:10 UTC</td></tr><tr><td>Submitter's name</td><td>Svante</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</td><td>TEST, P

[2019-04-27 21:17] #136 closed, assigned to nobody

[2019-04-27 21:18] github-oma opened #137 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-27 21:18:30 UTC</td></tr><tr><td>Submitter's name</td><td>Svante</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</td><td>TEST, P

[2019-04-27 21:19] #137 closed, assigned to nobody

[2019-04-27 21:34] jpradocueva opened #138 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-27 21:34:48 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM

[2019-04-27 21:35] #138 closed, assigned to nobody

[2019-04-29 06:24] github-oma opened #139 "[South East Water] Reusable resource Sensor Warm-up time - 6041"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-29 06:24:11 UTC</td></tr><tr><td>Submitter's name</td><td>Andrew Forster-Knight</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>South East Water</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Downlo

[2019-04-29 06:27] github-oma opened #140 "[South East Water] Gas Readings - 10313"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-04-29 06:27:33 UTC</td></tr><tr><td>Submitter's name</td><td>Andrew Forster-Knight</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>South East Water</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><t

[2019-04-30 10:18] seanmcilroy29 commented on #140
Thank you for your registration.

- [ ] The object ID allocation for this object will be reserved as 10313
- [ ] The object URN allocation for this object will be reserved as oma:lwm2m❌10313

A new branch South East Water has been created in the LwM2M registry for the WG to review your object

 - [ ] Please submit a Pull Request with the content of your object against the branch: https://github.co

[2019-04-30 12:13] seanmcilroy29 commented on #139
See PR #146

[2019-05-01 09:49] seanmcilroy29 commented on #115
@Peter Gaspar - Please note, that for the WG to Approve this object you must submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/digital

[2019-05-07 09:49] mojanm commented on #140
Inconsistency between reusable resource 6041 as used in this object and its registration. Here it is shown to be of type String while it's being registered to have type Integer.

[2019-05-07 10:11] seanmcilroy29 commented on #140
There's a note at the bottom of the object from the submitter
```new resource (nominally 6041) has yet to be added. This will be an integer value representing 0-86400 seconds for how long a sensor should wait/warm-up before a reading is taken```

I will inform the submitter to ensure the resource is added once it's agreed by the WG.

[2019-05-08 18:47] jpradocueva opened #148 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-05-08 18:47:32 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM

[2019-05-08 18:48] #148 closed, assigned to nobody

[2019-05-13 07:54] seanmcilroy29 commented on #140
See PR #149

[2019-05-13 11:37] dirtyha opened #151 "[Vaisala] Reusable Resources Quality - 6042"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-05-13 11:37:13 UTC</td></tr><tr><td>Submitter's name</td><td>Harri Hytönen</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Vaisala</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Download Object</td><td

[2019-05-13 11:46] dirtyha commented on #151
Typo in value range, should have been from -8999 to 8999

[2019-05-13 12:27] seanmcilroy29 commented on #151
See - PR #153
RR PR incorporates dirtyha typo in Range Enumeration from -8500 - 8500 to -8999 to 8999

[2019-05-14 07:43] dirtyha commented on #151
Due to interest on this specific quality value range, we decided to open it a little bit. Basically it is a Vaisala specific coding used by our existing products. If a measurement device has quality control algorithms, it may then report:

INVALID (-8500)  : Measurement value shall not be used
UNCHECKED (0) : Measurement value has not undergone any quality checks
SUSPICIOUS  (6500) : Measurement v

[2019-05-14 07:54] seanmcilroy29 commented on #151
@dirtyha - your comment has been submitted to PR #153 for Working Group members to review.
Can all future comments be submitted directly to this PR.

[2019-05-15 19:14] jpradocueva opened #156 "[UNITS] Problems with Units in Common.xml file"
IPSO agreed to follow up SenML units notation.
In OMNA Reusable Resources table, the Common.xml file, contains some units that cannot be mapped directly to SenML units.

---

PR #155 updates the Units in the Common.xml that can be easily mapped to SenML units.

IPSO WG needs to review the list of Reusable Resources  that cannot be mapped directly to SenML units, without creating potential problems

[2019-05-16 01:01] jpradocueva opened #157 "Request for reserving a 100 ObjectID in range 7700 - 7799"
Dear OMA Helpdesk,

uCIFI is an industry alliance created and composed of Smart City and Smart Utility international companies : https://ucifi.com . The goal of the uCIFI alliance is to provide a common data model for the smart city objects which are required in the many smart streetlight, smart traffic, smart waste, smart parking and other smart city projects. The uCIFI Technical Workgroup has de

[2019-05-16 01:14] jpradocueva commented on #156
First units validation implies around 197 errors as a result of using SenML notations:

Error | Time | Description | ObjectID and/or ResourceID
-- | -- | -- | --
Critical |   | Limited verification | No links to TS and Vorto links are verif
Critical |   |   | ied
551 |   | Incorrect Unit value (ms) | 5503
551 |   | Incorrect Unit value (degree) | 5705
551 |   | Incorrect Unit value (Wh) | 5805
551

[2019-05-17 08:06] seanmcilroy29 commented on #151
Please note the comments submitted to PR #156 by the Working Group for your review.

[2019-05-21 11:53] dirtyha commented on #40
A call with @akeranen revealed that adding re-usable resource (Application Type) implicitly to IPSO object is not possible. So, my proposal is to explicitly add it to IPSO objects by creating a new object version.

The following IPSO objects are missing Application Type (5750) reusable resource, possibly accidentally.

ID		Name
--------------------------------------------
3301	Illuminance
3302	Pre

[2019-05-21 12:19] seanmcilroy29 opened #160 "IPSO objects are missing Application Type (5750) reusable resource"
A call with @akeranen revealed that adding re-usable resource (Application Type) implicitly to IPSO object is not possible. So, my proposal is to explicitly add it to IPSO objects by creating a new object version.

The following IPSO objects are missing Application Type (5750) reusable resource, possibly accidentally.

ID	Name
3301	Illuminance
3302	Presence
3303	Temperature
3304	Humidity
3305	Powe

[2019-05-28 10:13] seanmcilroy29 commented on #157
The allocated Object ID Range reservation in the ext-label table is from 3500 to 3599 - http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html#extlabel

[2019-06-05 02:27] jpradocueva opened #161 "OMNA-Registration of Name"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-06-05 02:27:00 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Another SDO</td></tr><tr><td>Organization</td><td>JPC</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Name</td></tr><tr

[2019-06-05 02:27] jpradocueva commented on #161
test - ignore

[2019-06-05 02:27] #161 closed, assigned to nobody

[2019-06-06 17:10] seanmcilroy29 opened #162 "[Action Item] LwM2M TS constraints on the RR description field"
LwM2M TS constraints on the RR description field needs to be reviewed as they are considered too restrictive i.e for updating typo's

*the registered Description field of a Reusable Resource is also a frozen characteristic*

Matt/Ari to raise this issue with the DMSE WG.

[2019-06-06 17:20] seanmcilroy29 opened #163 "[Action Item] Updating registered RR Names"
Some registered  RR Names are deemed too generic and should be reviewed with a view to of updating them - An example is RR 6027 Stop

Currently the TS outlines
**the Name, ID, Operation, Type, Range and Units are frozen characteristics (same applies to the Definition) when the
Reusable Resource is registered at [OMNA] cannot be changed when such a
Resource is specified in the definition of a hosti

[2019-06-11 06:25] github-oma opened #166 "OMNA-Registration of Digital Input"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-06-11 06:25:37 UTC</td></tr><tr><td>Submitter's name</td><td>Sangho Lee</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Wayble</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Digital Input</td><

[2019-06-11 09:14] seanmcilroy29 commented on #166
The submitted Registration is an extract match from Object ID 3200 - Digital Input.
If you'd like to submit a unique object, please register via the [Editor tool ](https://devtoolkit.openmobilealliance.org/OEditor/). To aid in your submission, user [guidelines](https://wiki.openmobilealliance.org/display/TOOL/Introduction+to+LightweightM2M)are available

[2019-06-11 09:14] #166 closed, assigned to nobody

[2019-06-12 20:59] jpradocueva commented on #139
See PR #167
Previous PRs are superseded by #167

[2019-06-12 21:01] jpradocueva commented on #151
See PR #159  previous PRs are superseded

[2019-06-13 08:03] seanmcilroy29 commented on #22
Resolved See PR - https://github.com/OpenMobileAlliance/lwm2m-registry/pull/165

[2019-06-13 08:03] #22 closed

[2019-06-17 16:37] envirocoder opened #169 "[OpenLX SP] Measured Particle Size - RR 6043"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-06-17 16:37:58 UTC</td></tr><tr><td>Submitter's name</td><td>A Robinson</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>OpenLX SP Ltd</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Download Object</td>

[2019-06-17 16:42] envirocoder opened #170 "[OpenLX SP] Particulates - 10314"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-06-17 16:42:39 UTC</td></tr><tr><td>Submitter's name</td><td>A Robinson</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>OpenLX SP Ltd</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Particulates

[2019-06-18 11:04] seanmcilroy29 commented on #115
Peter Gaspar- Please note, that for the WG to Approve this object you must submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/digital

The Working Group will be holding a conf call this Thursday [20 Jun]. If no reply has been received by the 02 July the Object registration will be closed

[2019-06-19 09:03] seanmcilroy29 commented on #170
Thank you for your registration.

- [ ] The object ID allocation for this object will be reserved as 10314
- [ ] The object URN allocation for this object will be reserved as oma:lwm2m❌10314
- [ ] Reusable Resource allocation ID 6043

A new branch, `OpenLx`  has been created in the LwM2M registry for the WG to review your object

**Steps**
 - [ ] Please submit a Pull Request with the content of yo

[2019-06-19 09:26] github-oma opened #177 "OMNA-Registration of Test Object"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-06-19 09:26:57 UTC</td></tr><tr><td>Submitter's name</td><td>Sean Mcilroy</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Test Org</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Test Object</td

[2019-06-19 09:29] seanmcilroy29 commented on #177
Test line 1 of xml

[2019-06-19 09:29] #177 closed, assigned to nobody

[2019-06-19 09:55] seanmcilroy29 commented on #169
- [ ] Reusable Resource allocation ID 6043
- [ ] Update/add details to submitted Object - See #170
   - [ ]  Please note the submitted Reusable Resource Unit `um` isn't a standard within [SenML](https://www.iana.org/assignments/senml/senml.xhtml). Can you update with a unit defined in SenML or indicate `To Be  Defined.`

[2019-06-19 13:57] akeranen commented on #163
@hannestschofenig to the agenda?

[2019-06-19 13:58] akeranen commented on #162
@hannestschofenig to the agenda?

[2019-06-19 22:27] envirocoder commented on #169
Hello, thanks for this -- can you just give me a bit of guidance on the unit.

The resource unit for my need is micrometers (since particles in the air are tiny).

taking http://openmobilealliance.org/tech/profiles/lwm2m/3396.xml as an example I saw it includes milliseconds, but this is not in SenML.
`<Units>ms</Units>
<Description>Remaining approximated time of any ongoing colour change process w

[2019-06-20 01:00] SvanteAlnas opened #178 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-06-20 01:00:00 UTC</td></tr><tr><td>Submitter's name</td><td>Test, Please ignore!</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</

[2019-06-20 01:16] #178 closed, assigned to nobody

[2019-06-20 08:08] seanmcilroy29 commented on #169
@akeranen - Can you offer guidance on this unit proposal?

[2019-06-20 15:26] seanmcilroy29 opened #180 "[Action Item] Add a new re-usable resource ”Measurement Context” (R, string)"
Add a new re-usable resource ”Measurement Context” (R, string)
- Machine readable, standard set of measurement context metadata
- What standard to use?
- Who will keep this standard up-to-date?

[2019-06-20 16:29] seanmcilroy29 opened #181 "[Action Item] Harmonise resource 'Application Type' to all sensor objects."
Harmonise resource 'Application Type' (5750) for all sensor objects.
- [ ] Working Group to create a table with all the ID'd Objects and RRs that require to be modified & forward to OMA Staff
- [ ] OMA Staff Implement the changes required to Harmonise resource 'Application Type'

**Note: Required to be implemented by end Sept 2019**

[2019-06-20 20:27] jpradocueva opened #183 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-06-20 20:27:35 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM

[2019-06-20 20:27] #183 closed, assigned to nobody

[2019-06-21 07:56] seanmcilroy29 opened #184 "[Action Item] Add new optional resource 'Timestamp'"
Create PR to add new optional resources ”Timestamp” (5518) to all sensor objects
- Application can then explicitly read measurement time provided in the object model

[2019-06-21 08:24] seanmcilroy29 opened #185 "[Action Item] Measurement Quality update"
Add a new optional resource ”Measurement Quality” (6042) (R, integer) to the required objects

- [x] Rename the description to Measurement Quality Enumeration and create a new RR called Measurement Quality Percentage that is a range from 0..100

 - [x] Working Group to create a table with all the ID'd Objects and RRs that require to be modified & forward to OMA Staff

  - [x] OMA Staff Implement t

[2019-06-24 08:51] akeranen commented on #169
Hi @envirocoder, instead of using unit prefixes the current recommended way is to put the scale into the value, i.e., unit is still "m" but the value would be e.g., 42e-9. On the wire you can use that (exponent) syntax in the JSON format or with CBOR use the float or decfrac types.

[2019-06-26 08:44] seanmcilroy29 commented on #170
@envirocoder - To start the review process could you submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/OpenLx

As a note, the Working Group are meeting tomorrow

[2019-06-26 16:36] jpradocueva commented on #79
The PR #82 was closed due to lack of response from the submitter.

[2019-06-26 16:36] #79 closed, assigned to nobody

[2019-06-27 15:28] mkgillmore commented on #156
Units to be resolved at OMA f2f meeting july 16-18th

[2019-07-01 07:34] seanmcilroy29 commented on #115
Peter Gaspar- Please note, that for the WG to Approve this object you must submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/digital

The Working Group will be holding a conf call 11 Jul. If no reply has been received for this meetingy the Object registration will be closed by the Working Group

[2019-07-10 07:53] seanmcilroy29 commented on #170
@envirocoder - To start the review process, please could you submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/OpenLx

As a note, the Working Group are meeting tomorrow, so if the PR is submitted the WG will review this object

[2019-07-10 08:01] seanmcilroy29 commented on #115
Peter Gaspar - The Working Group will be holding a conf call tomorrow, If no reply has been submitted for this meeting, the Object registration will be closed by the Working Group

[2019-07-10 08:04] seanmcilroy29 commented on #157
this issue can be closed

[2019-07-10 13:41] envirocoder commented on #170
Thanks, contained in PR #190

[2019-07-10 13:42] envirocoder commented on #169
Thanks, for your advice on this.
Changes contained in PR #190

[2019-07-11 15:42] mkgillmore commented on #180
@dirtyha Can you be available sometime between 7/16-7/18 to discuss via GoToMeeting?

[2019-07-11 15:56] mkgillmore commented on #157
This can be close as the IPSO WG agreed

[2019-07-11 15:56] #157 closed, assigned to mkgillmore

[2019-07-12 08:06] seanmcilroy29 commented on #181
Info moved from Issue #160
A call with @akeranen revealed that adding re-usable resource (Application Type) implicitly to IPSO object is not possible. So, my proposal is to explicitly add it to IPSO objects by creating a new object version.

The following IPSO objects are missing Application Type (5750) reusable resource, possibly accidentally.

ID	Name
3301	Illuminance
3302	Presence
3303	Temperat

[2019-07-12 08:07] seanmcilroy29 commented on #160
issue moved to #181

[2019-07-12 08:07] #160 closed, assigned to nobody

[2019-07-12 08:11] dirtyha commented on #180
Hi, I'm currently on vacation and unable to attend. I'm back to the office
on July 25th.

Br,
Harri

to 11. heinäk. 2019 klo 18.42 mkgillmore <notifications@github.com>
kirjoitti:

[2019-07-16 11:13] QingAn opened #199 "[ICA] Smoke Alarm - 3407"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-07-16 11:13:12 UTC</td></tr><tr><td>Submitter's name</td><td>Qing An</td></tr><tr><td>Defined By</td><td>Another SDO</td></tr><tr><td>Organization</td><td>ICA (IoT Connectivity Alliance)</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>S

[2019-07-17 10:15] lucabotelit opened #200 "Object Validator returning error for IPSO objects"
While using the Object Validator I can see there are 14 errors related to your standard IPSO objects (see picture below)

![screen](https://user-images.githubusercontent.com/52996804/61367746-90d0c680-a88c-11e9-8e77-6e32521804b8.jpg)

[2019-07-17 10:58] seanmcilroy29 commented on #199
Thank you for your registration.

**Object Updates**
- [ ] The object Version 1.0
- [ ] The object URN allocation for this object will be reserved as oma:lwm2m:ext:3407

A new branch, `ICA`  has been created in the LwM2M registry for the WG to review your object

**Steps**
 - [ ] Please submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobileAlliance/

[2019-07-17 12:50] jpradocueva commented on #200
@mkgillmore this problem is related to the SenML units. We need to resolve this issue as soon as possible, it is creating confusion for those that are following lwm2m objects.

[2019-07-18 17:52] mkgillmore commented on #163
DMSE and IPSO WG jointly agree on changing the descriptions without changing the rev.  In the future, editorial changes will affect the third digit of the version.

[2019-07-19 03:59] jpradocueva commented on #163
@mkgillmore @hannestschofenig if I understand correctly, DMSE agrees that Reusable Resources inserted in an Object can have a customize description.
In that case, some one needs to put a PR against the TS Core: 7.3.2 Reusable Resources
*... bulet point 2*

Once this statement is revised, we will update the LwM2M Editor code to allow changes in the Description and to stop the validation (where both

[2019-07-19 18:52] mkgillmore commented on #156
@jpradocueva @akeranen Good news,  a second Senml registry will be created that will include ms, WH, KWH, etc

I think we only need to change degree to deg?

[2019-07-20 16:28] jpradocueva commented on #156
@mkgillmore great news! Once the registration has taken place we will update the Common.xml file and prepare the corresponding PRs against existing Objects that are affected by the changes.

With regards to the "degree unit. In SenML there is no a symbol called "degree".
The symbols related to degrees are:

Symbol     |   Description
---------- | -------------
Cel             |  degrees Celsius
la

[2019-07-24 07:52] seanmcilroy29 commented on #199
@QingAn - Please note, that for the WG to Approve this object you must submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/ICA

[2019-07-24 07:54] seanmcilroy29 commented on #115
Issue can be closed

[2019-07-24 16:44] jpradocueva commented on #115
@seanmcilroy29 before closing the issue, let's clean up the registry and the GitHub repo, then we can close it

[2019-07-25 02:17] QingAn commented on #199
@seanmcilroy29 - New Pull Request has been made, please check: https://github.com/OpenMobileAlliance/lwm2m-registry/pull/208

[2019-07-25 06:56] jpradocueva commented on #156
Related IETF draft to address pending issues on units: https://tools.ietf.org/html/draft-bormann-senml-more-units-03#section-3. It is added here for reference.

[2019-07-25 12:25] seanmcilroy29 commented on #115
Issue closed due to the submission period elapsing. Submitter is requested to resubmit Object for Approval if required.

[2019-07-25 12:25] #115 closed, assigned to nobody

[2019-07-29 07:34] seanmcilroy29 commented on #199
PR's ready for WG review
Object - #212
RRs - #202

[2019-07-30 03:30] QingAn opened #213 "[ICA] Manhole Cover - 3408"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-07-30 03:30:53 UTC</td></tr><tr><td>Submitter's name</td><td>Qing An</td></tr><tr><td>Defined By</td><td>Another SDO</td></tr><tr><td>Organization</td><td>ICA</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Manhole Cover</td></tr><tr><t

[2019-07-30 07:16] dirtyha commented on #185
Updated PR #159 so that the name of RR 6042 is Measurement Quality Indicator as suggested by @mkgillmore

[2019-07-30 07:38] dirtyha commented on #185
Should I include the new RR Measurement Quality Percentage into the same PR #159 or create a new PR? What should be the id for the new RR?

[2019-07-30 08:34] seanmcilroy29 commented on #213
Thank you for your registration.

**Object Updates**
- [ ] The object Version 1.0
- [ ] The object URN allocation for this object will be reserved as oma:lwm2m:ext:3408

A new branch, `ICA_1`  has been created in the LwM2M registry for the WG to review your object

**Steps**
 - [ ] Please submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobileAllianc

[2019-07-30 08:50] seanmcilroy29 commented on #185
@dirtyha - The next RR id is 6049.
If you're going to register a new RR could you submit a new PR via https://devtoolkit.openmobilealliance.org/OEditor/LWMOEdit

[2019-07-30 11:10] github-oma opened #216 "[Vaisala] Reusable resource - 6049 Measurement Quality Level"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-07-30 11:10:37 UTC</td></tr><tr><td>Submitter's name</td><td>Harri Hytönen</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Vaisala</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Download Object</td><td

[2019-07-30 11:50] seanmcilroy29 commented on #216
Thank you for your registration

A new branch, Vaisala-1 has been created in the LwM2M registry for the WG to review your Reusable resource:

Please submit a Pull Request with the content of your reusable resource against the common file in the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/Vaisala-2

Steps:
1. Update the common.xml ID 6049 with Reusable Resource Definitions
2.

[2019-07-30 12:49] dirtyha commented on #184
I propose that optional resource 'Timestamp' is added to IPSO smart objects 3200-3350 which represent a sensor:

3200-3203 (analog and digital input/output where a sensor can be connected)
3300-3305
3313-3328
3330-3332
3334-3336
3346

The excluded are objects that represent a controller, actuator or something similar to change device state. I'm not sure if "Timestamp" is needed for them, at least

[2019-08-01 20:19] dkhettry opened #220 "[GSMA] ConnectedDRX - 3409"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-08-01 20:19:10 UTC</td></tr><tr><td>Submitter's name</td><td>Dhruv Khettry</td></tr><tr><td>Defined By</td><td>Another SDO</td></tr><tr><td>Organization</td><td>GSMA</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>ConnectedDRX</td></tr>

[2019-08-02 08:37] seanmcilroy29 commented on #220
Thank you for your registration.

**Object Updates**
- [ ] Object ID 3409
- [ ] The object URN allocation for this object will be reserved as oma:lwm2m:ext:3409

A new branch, `GSMA`  has been created in the LwM2M registry for the WG to review your object

**Steps**
 - [ ] Please submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobileAlliance/lwm2m-r

[2019-08-06 14:13] hannestschofenig commented on #163
From the Montreal meeting minutes:

The group asked whether we should allow updating the description of the resources (editorial changes only) without increasing the version number of the object/re-issuing reusable resources.

Conclusion:
   - IPSO will make editorial changes to the reusable resource description where needed.
   - David suggest to enhance the description in Section 7.3.2. Reusable

[2019-08-19 16:31] jpradocueva commented on #156
@akeranen @hannestschofenig I see that the above IETF draft has been partially implemented in SenML Lists in https://www.iana.org/assignments/senml/senml.xhtml.
All the secondary seem to be missing. Do you know if it will be implemented a later stage?

[2019-08-19 18:57] akeranen commented on #156
Yes, the draft just needs to go further for the new registry to be implemented on the IANA site. @cabo and @jaimejim are on it.

[2019-08-20 03:00] jpradocueva commented on #156
Ok, thanks. I will wait until it is implemented in order to see what we need to do.
The "deg" was not implemented with the rest of the units. I guess that it will be implemented in the second part.

[2019-08-20 05:57] jpradocueva commented on #156
PR #223  provides a resolution to the low-hanging fruit issues with Units. This PR introduce basic changes that don't imply any change in the Object version; e.g. change from "Seconds" to "s", Or "Celsius" to "Cel", etc

[2019-08-20 08:11] mnoyes73 opened #224 "OMNA-Registration of radioLinkMonitoring"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-08-20 08:11:42 UTC</td></tr><tr><td>Submitter's name</td><td>Marie Noyes</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>radioLinkMonitoring</td></tr><tr><td>Object Description</td><

[2019-08-20 08:19] seanmcilroy29 commented on #224
This submission is a duplication of GSMA Object 3374 (radioLinkMonitoring) and isn't a valid submission

[2019-08-20 08:19] #224 closed, assigned to nobody

[2019-08-20 10:39] aoncorici opened #225 "OMNA-Registration of BinaryAppDataContainer"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-08-20 10:39:10 UTC</td></tr><tr><td>Submitter's name</td><td>Andreea Ancuta Corici</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Fraunhofer FOKUS Institut</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Na

[2019-08-20 11:15] seanmcilroy29 commented on #225
@aoncorici - Your object submission is a duplication of OMA Object ID19 - BinaryAppDataContainer.

If you have an Issue/question proposing additional resources to this Object, it can be submitted via [lwm2m-registry Issues](https://github.com/OpenMobileAlliance/lwm2m-registry/issues) for the DM working group to review.

[2019-08-20 11:15] #225 closed, assigned to nobody

[2019-09-12 16:30] seanmcilroy29 opened #226 "[Action Item] IETF secondary SenML table"
Establish when the IETF will have the new secondary SemML table implemented for general use

[2019-09-12 19:50] jpradocueva commented on #156
@cabo @jaimejim when can we expect that the following table will be incorporated to the the SenML Registry?
The OMA registry for LwM2M cannot accept further registrations until this table is added to the SenML Registry:

![image](https://user-images.githubusercontent.com/3258579/64816022-b102c600-d55b-11e9-9cb1-edd0db9e54fa.png)

[2019-09-12 20:03] jpradocueva commented on #156
@mkgillmore   Independently of when or how the above table containing the secondary Units is implemented in the SenML Registry. The  IPSO WG needs to resolve the following problems with Units on Reusable Resources or Objects already registered with OMNA:

- [ ] **Reusable Resources**

Description | Reusable Resource
 -- | --
Incorrect Unit value (degree) | 5705

In SenML there are three type of de

[2019-09-12 20:22] jpradocueva commented on #156
@mkgillmore these are the pending problems with Units on LwM2M Objects already registered with OMNA.
These problems need to be resolved by the IPSO WG as these units doesn't exist in SenML even after implementing the pending secondary units table:

Description | ObjectID : ResourceID
 -- | --
 Incorrect Unit value (Ws) | 3388:910
 Incorrect Unit value (Ws) | 3396:910
 Incorrect Unit value (Ws) | 3

[2019-09-13 23:16] jpradocueva commented on #156
Reply from Carsten on updates to the SenML Registry:

Deg can be registered right away, but adding the second table requires iesg approval; so we should submit to iesg by, say, Oct 1 and could be approved by the end of the month, barring surprises. This is optimistic, but not unrealistic at all.

[2019-09-16 23:45] jpradocueva opened #227 "[OpenAIS] Review Units in types marked as "string""
OpenAIS resources with "string" type should not have Units marked as Bytes.

https://github.com/OpenMobileAlliance/lwm2m-registry/pull/223#discussion_r324427474

[2019-09-20 11:04] seanmcilroy29 commented on #151
#159 - Approved 9/19/19

[2019-09-20 11:04] #151 closed, assigned to nobody

[2019-09-26 09:06] seanmcilroy29 commented on #220
@dkhettry - Please submit a Pull Request with the content of your object against the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/GSMA, to start the registration process

[2019-10-07 08:45] jpradocueva commented on #156
Latest changes are suggested in: https://tools.ietf.org/html/draft-ietf-core-senml-more-units-01

[2019-10-07 19:58] akeranen opened #233 "RR 5502 description (Boolean vs integer)"
The RR 5502 (Digital Input Polarity) has description "The polarity of a digital input as a Boolean (0 = Normal, 1= Reversed)" and the value type is boolean. The description should have "true" and "false" instead of "0" and "1".

[2019-10-07 20:01] akeranen opened #234 "RR 5501 description refinement"
The RR 5501 (Digital Input Counter) description is currently "The cumulative value of active state detected." This seems a bit confusing and could be refined.

[2019-10-16 07:10] seanmcilroy29 opened #255 "[Action Item] Re-usable Resource 4010-4015 (Log*) descriptions"
Proposed Change

The descriptions of the Re-usable Resources for Logging don't seem to make much sense outside of the TS. For example RR LogStart:

**Actions: a) Start data collection (DC) b) LogStatus is set to 0 (running) c) DC is emptied (default) or extended according arg'0' value Arguments definitions are described in the table below.**

And RR LogStop:

**Actions: a) Stop data collection (DC

[2019-10-16 07:19] seanmcilroy29 commented on #140
Resource Agreed See - #167 #243

[2019-10-16 07:19] #140 closed, assigned to nobody

[2019-10-16 07:22] seanmcilroy29 commented on #139
Resource Agreed See - #167 #243

[2019-10-16 07:22] #139 closed, assigned to nobody

[2019-10-16 07:27] seanmcilroy29 commented on #216
RR agreed - See #218

[2019-10-16 07:27] #216 closed, assigned to nobody

[2019-10-16 07:37] seanmcilroy29 commented on #213
Object agreed - See #219

[2019-10-16 07:37] #213 closed, assigned to nobody

[2019-10-16 07:42] seanmcilroy29 commented on #220
@dkhettry - Note PR #230 was been closed as it was submitted against the``test`` branch. Could you please submit your PR against the ``GMSA`` branch with the content of the Object 3409 - https://github.com/OpenMobileAlliance/lwm2m-registry/tree/GSMA.

An invite has been sent to https://github.com/OpenMobileAlliance/lwm2m-registry/invitations so you can join "lwm2m-registry" as a collaborator.

[2019-10-16 08:43] jpradocueva commented on #255
This issue is linked to: https://github.com/OpenMobileAlliance/LwM2M/issues/310 closed in LwM2M

[2019-10-23 07:10] seanmcilroy29 commented on #220
@dkhettry - The IPSO WG will be holding a Conf Call tomorrow to review submitted Objects for Approval.

Could you please submit your PR against the GMSA branch with the content of the Object 3409 - https://github.com/OpenMobileAlliance/lwm2m-registry/tree/GSMA.

An invite has been sent to https://github.com/OpenMobileAlliance/lwm2m-registry/invitations so you can join "lwm2m-registry" as a collabo

[2019-10-23 07:13] seanmcilroy29 commented on #199
@QingAn - Reusable Resources (RR) 6044, 6045, 6046, 6047, 6048 have been agreed by the WG.

To reflect the Agreed RRs, Comments have been applied against your submitted Object [3407](https://github.com/OpenMobileAlliance/lwm2m-registry/pull/212) that requires you to apply directly.

[2019-10-24 20:23] akeranen commented on #40
Seems that the application type resource descriptions should also be aligned across objects. Now we have:

Probably using the most common "The application type of the sensor or actuator as a string depending on the use case." across all objects is the best option.

[2019-10-24 21:50] akeranen opened #257 "Location Object with string latitude and longitude values"
Current [Location object (3336)](https://github.com/OpenMobileAlliance/lwm2m-registry/blob/test/3336.xml) uses string valued lat/long resources (5514 and 5515). It might make sense to rename those RRs to "String Latitude / Longitude" and register new RRs and Object using float values to align better with the [LwM2M Location object](https://github.com/OpenMobileAlliance/lwm2m-registry/blob/test/LWM

[2019-10-24 22:16] akeranen opened #258 "Level (5548) resource use and description"
The Level RR (5548) descriptions are inconsistent; how Level is used in object should be described in the object description, not in RR description.

[2019-10-25 10:01] dirtyha opened #259 "[Vaisala] Fractional Timestamp - RR 6050"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-10-25 10:01:21 UTC</td></tr><tr><td>Submitter's name</td><td>Harri Hytönen</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Vaisala</td></tr><tr><td>Type of registration</td><td>Reusable resources</td></tr><tr><td>Download Object</td><td

[2019-10-25 10:11] seanmcilroy29 commented on #40
IPSO smart sensor objects update plan by Vaisala

- ``ok`` 	= resource now exists in object
- ``+``  	= resource to be added into an object as an optional resource
- ``N/A``	= resource not applicable for object

[IPSO_smart_sensor_object_update_proposal.txt](https://github.com/OpenMobileAlliance/lwm2m-registry/files/3771528/IPSO_smart_sensor_object_update_proposal.txt)

[2019-10-25 10:11] dirtyha commented on #259
As discussed in IPSO meeting 2019-10-24, this is the proposal for fractional timestamp RR for measurements. Additional note is that "Fractional Time" RR 5507 can not be used, since it is used for wall clock, not measurement timestamp, fractional seconds.

[2019-10-28 19:54] seanmcilroy29 commented on #259
A new branch, Vaisala has been created in the LwM2M registry for the WG to review your Reusable resource 6050:

Please submit a Pull Request with the content of your reusable resource against the common file in the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/Vaisala

[2019-11-02 03:31] github-oma opened #270 "[CloudMinds] Robot - 10315"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-11-02 03:31:55 UTC</td></tr><tr><td>Submitter's name</td><td>Kenny Li</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>CloudMinds</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Robot</td></tr><t

[2019-11-02 03:44] github-oma opened #271 "[CloudMinds] RCU - 10316"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-11-02 03:44:08 UTC</td></tr><tr><td>Submitter's name</td><td>Kenny Li</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>CloudMinds</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>RCU</td></tr><tr>

[2019-11-04 10:02] Kenny-SZ opened #272 "[CloudMinds] Multiple Object submission 10315 - 10366"
## Registration Information ##
Our company operates smart robots for people, currently we build and operate an open end-to-end cloud robot system, and offer it as a service to the world. Now we intend to manage robot using LwM2M protocol, and need to define 52 OMA Objects for our and 3rd party Robots. Website of our company: [https://www.en.cloudminds.com/](url)

### 1. Choose the type of registra

[2019-11-04 10:39] seanmcilroy29 commented on #271
See Issue https://github.com/OpenMobileAlliance/lwm2m-registry/issues/272
Object submission grouped under this submission

Issue Closed

[2019-11-04 10:39] #271 closed, assigned to nobody

[2019-11-04 10:40] seanmcilroy29 commented on #270
See Issue #272
Object submission grouped under this submission

Issue Closed

[2019-11-04 10:40] #270 closed, assigned to nobody

[2019-11-04 18:05] akeranen commented on #156
* Ws: J
* kvarL and kvarC: kvar (with L and C part already in description)
* kVA and kvar are in [more-units-02](https://tools.ietf.org/html/draft-ietf-core-senml-more-units-02#page-5)
* all instances of "III" should be removed (to description?)
* all "kvar/h" and "kW/h" should be clarified (/removed) (might be [unintentional](https://en.wikipedia.org/wiki/Kilowatt_hour#Misuse_of_watts_per_hour))

[2019-11-04 18:08] cabo commented on #156
kW/h would be a power increase (a nano-Chernobyl?).
This (and kvar/h) is very likely kWh and kvarh.

[2019-11-05 18:08] seanmcilroy29 commented on #272
A new branch, `cloudminds`  has been created in the LwM2M registry for the WG to review your objects

**Steps**
 - [ ] Please submit a Pull Request for **each** object against the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/cloudminds

Steps | Actions
-- | --
1 | Submit Pull Request  for each object against the `cloudminds` branch
2 | Staff validates PR
3 | IPSO Working Group

[2019-11-05 18:09] seanmcilroy29 commented on #272
A new branch, `cloudminds`  has been created in the LwM2M registry for the WG to review your objects

**Steps**
 - [ ] Please submit a Pull Request for **each** object against the branch: https://github.com/OpenMobileAlliance/lwm2m-registry/tree/cloudminds

Steps | Actions
-- | --
1 | Submit Pull Request  for each object against the `cloudminds` branch
2 | Staff validates PR
3 | IPSO Working Group

[2019-11-07 09:14] seanmcilroy29 commented on #259
RR-6050 Fractional Timestamp added in PR https://github.com/OpenMobileAlliance/lwm2m-registry/pull/265

[2019-11-07 09:14] #259 closed, assigned to dirtyha, seanmcilroy29

[2019-11-14 15:39] mkgillmore commented on #20
Ask the staff to transfer to DMSE

[2019-11-14 15:49] mkgillmore commented on #220
Group agrees to close this issue due to inactivity from the original submitter.  However we will keep the number 3409 reserved - IPSO WG agrees 11/19/2019

[2019-11-14 15:49] #220 closed, assigned to nobody

[2019-11-14 18:38] seanmcilroy29 commented on #20
Moved to LwM2M See issue - https://github.com/OpenMobileAlliance/LwM2M/issues/367

[2019-11-14 18:38] #20 closed

[2019-11-19 16:44] dnav opened #336 "[IoTerop] MQTT Broker"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-11-19 16:44:49 UTC</td></tr><tr><td>Submitter's name</td><td>David Navarro</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>IoTerop</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>MQTT Broker</td

[2019-11-19 16:48] dnav opened #337 "[IoTerop] MQTT Publication"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-11-19 16:48:24 UTC</td></tr><tr><td>Submitter's name</td><td>David Navarro</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>IoTerop</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>MQTT Publicatio

[2019-11-19 17:28] seanmcilroy29 commented on #169
RR merged - https://github.com/OpenMobileAlliance/lwm2m-registry/pull/190
RR published to registry - http://openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html

[2019-11-19 17:28] #169 closed, assigned to envirocoder

[2019-11-19 17:29] seanmcilroy29 commented on #170
Object merged - https://github.com/OpenMobileAlliance/lwm2m-registry/pull/190
Object published to registry - http://openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html

[2019-11-19 17:29] #170 closed, assigned to envirocoder

[2019-11-19 18:45] seanmcilroy29 commented on #336
Thank you for your registration.

**Required Object Updates**
- [ ] Object Version
- [ ] Object ID - 10367
 - [ ] The object URN allocation for this object will be reserved as urn:oma:lwm2m:x:10367

- [ ] Object License does not conform with the Required OMNA submission.
NOTE: OMA at the moment is collaborating with OneData Model (OneDM) to make the Objects more widely available with an agreed BSD

[2019-11-19 18:51] seanmcilroy29 commented on #337
Thank you for your registration.

**Required Object Updates**
- [ ] Object Version
- [ ] Object ID - 10368
 - [ ] The object URN allocation for this object will be reserved as urn:oma:lwm2m:x:10368

- [ ] Object License does not conform with the Required OMNA submission.
NOTE: OMA at the moment is collaborating with OneData Model (OneDM) to make the Objects more widely available with an agreed BSD

[2019-11-22 08:54] dnav commented on #336
Hi Sean,

Regarding the Object ID, would it be possible to keep IDs 18830 and 18831 ? The TCP port reserved for MQTT is 1883. It would make sense that the MQTT related Objects reuse that number. This is just a nice-to-have.

More problematic: the license. A BSD 3-clause license is a no-go for us for business reasons. As these Objects are more DM-related than Data, I'm not sure they are revelant to

[2019-11-25 09:25] seanmcilroy29 commented on #336
@dnav - I've updated the DDF folder to reflect your request
18830 - MQTT Broker
18831 - MQTT Publication

A new entry has been submitted in the wiki https://github.com/OpenMobileAlliance/lwm2m-registry/wiki/Guidelines#objectversion to highlight the License requirement.

The IoTerop branch is now ready for you to submit your Object against - https://github.com/OpenMobileAlliance/lwm2m-registry/tree

[2019-11-26 13:31] dnav commented on #336
Hi Sean,

After discussions with our legals, we are able to switch to a BSD license.

I created the PR #355 covering both Objects. Let me know if all issues are addressed.

Regards,

[2019-11-26 13:32] dnav commented on #337
See PR #355

[2019-11-27 11:25] seanmcilroy29 commented on #156
20 Unit values currently not registered with SenML or SenML Draft :

Error/unit not available in SenML |  Comments
-- | --
| Incorrect Unit value (Ws) | contacting submitter for clarification
| Incorrect Unit value (kvarC) | contacting submitter for clarification
| Incorrect Unit value (kvarL) | contacting submitter for clarification
| Incorrect Unit value (kW III) | contacting submitter to remove

[2019-11-27 12:20] cabo commented on #156
On Nov 27, 2019, at 12:25, Sean Mcilroy <notifications@github.com> wrote:

The registered unit is J (Joule)

The units are kvar here (to be in the secondary registry), the capacitive or inductive aspect is not part of the unit

The “III” aspects of the quantities are, again, not part of the unit.

These are very likely incorrect and should be kWh, kvarh, kVAh (to be in the secondary registry).
(Ra

[2019-11-27 14:41] jpradocueva commented on #156
@cabo do you have a deadline by when the secondary registry will be implemented? We have around 150 errors in our OMNA LwM2M Registry due to incorrect units awaiting which are awaiting for this secondary table.

[2019-12-04 13:32] seanmcilroy29 commented on #156
Incorrect Unit values removed in updated Objects 10242 & 10243

Error removed | Object:RR
-- | --
Incorrect Unit value (kvarL) | 10242:8
Incorrect Unit value (kvarC) | 10242:9
Incorrect Unit value (kvarL) | 10242:18
Incorrect Unit value (kvarC) | 10242:19
Incorrect Unit value (kvarL) | 10242:28
Incorrect Unit value (kvarC) | 10242:29
Incorrect Unit value (kW III) | 10242:34
Incorrect Unit value (k

[2019-12-09 08:27] jpradocueva opened #376 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-12-09 08:27:06 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM

[2019-12-09 08:28] jpradocueva commented on #376
test

[2019-12-09 08:28] #376 closed, assigned to nobody

[2019-12-09 13:23] seanmcilroy29 opened #377 "OMNA-Registration of Test Object"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2019-12-09 13:23:06 UTC</td></tr><tr><td>Submitter's name</td><td>Sean Mcilroy</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>SM</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>Test Object</td></tr>

[2019-12-11 07:41] akeranen commented on #233
Fixed in https://github.com/OpenMobileAlliance/lwm2m-registry/commit/dbd1ab90f1aa452636363171461e6c240d885279

[2019-12-11 07:41] #233 closed, assigned to akeranen

[2019-12-11 16:19] #377 closed, assigned to nobody

[2019-12-12 09:33] seanmcilroy29 opened #384 "[Units] OpenAIS submitted Units"
OpenAIS Objects
- (Ws)     3388:910
-  (Ws)     3396:910
-  (Ws)     3397:910
-  (Ws)     3399:910

Submitter - Unit ``Ws`` can be replaced with ``J ``but only if we update the description with **J is equivalent to Watt-seconds**.

As the Description field is frozen, this unit ``Ws`` will need to be registered.

[2019-12-12 12:10] seanmcilroy29 opened #385 "[Units] CloudMinds invalid Units for review"
Submitted Units to be reviewed

-	Gigabyte – suggested registration  ``gigaB``
-	Mbps (megabits per second) – suggested registration ``Mbps``
-	m/h (meters per hour)
-	cm (centre metres)

[2019-12-12 17:01] cabo commented on #385
The current editor's copy of draft-ietf-core-senml-more-units.md (last change in https://github.com/core-wg/senml-more-units/commit/9f45131b925a98c62e0dc4e76baf5b20071a029c ) uses:

GB
Mbit/s
MB/s
m/h
cm

(I still don't quite get what m/h is being used for — robots that emulate sloths?)

[2019-12-13 07:32] jpradocueva commented on #385
PR #390 has been created to update the local file containing additional senml units. This file is used to validate existing objects against units that have been agreed in SenML but not implemented yet. Once the units are implemented in senml the file will be clear of these pending units.

[2019-12-13 15:43] seanmcilroy29 commented on #156
Outstanding submitted Object unit errors resolved in Revised-Common branch

Error |   | Incorrect Description | PR
-- | -- | -- | --
417 |   | Incorrect Unit value (Ws) | #387
417 |   | Incorrect Unit value (minute) | #381
417 |   | Incorrect Unit value (rpm) | #381
417 |   | Incorrect Unit value (GB) | #390
417 |   | Incorrect Unit value (Mbit/s) | #390
417 |   | Incorrect Unit value (MB/s) | #39

[2019-12-16 10:35] seanmcilroy29 commented on #384
Object updated - See https://github.com/OpenMobileAlliance/lwm2m-registry/pull/387

[2019-12-16 10:35] #384 closed, assigned to nobody

[2020-01-06 18:23] tmms-schreder opened #399 "[Schréder Hyperion] RFID 10370"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-01-06 18:23:21 UTC</td></tr><tr><td>Submitter's name</td><td>Tiago Silva</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Schréder Hyperion</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>RFID</t

[2020-01-07 09:37] seanmcilroy29 commented on #399
Thank you for your registration.

**Required Object Updates**
- [ ] Object ID - 10370
- [ ] The object URN allocation for this object will be reserved as urn:oma:lwm2m:x:10370
- [ ] Object License has been submitted under the copyright of ATT and does not conform with the Required OMNA submission.  OMA at the moment is collaborating with OneData Model (OneDM) to make the Objects more widely availa

[2020-01-07 13:55] tmms-schreder commented on #399
@seanmcilroy29 would you be so kind to provide me with the necessary permissions to be able to upload the requested changes?

[2020-01-07 16:30] seanmcilroy29 commented on #399
Submitter requests to withdraw the Object for registration

[2020-01-07 16:30] #399 closed, assigned to seanmcilroy29

[2020-01-09 08:51] seanmcilroy29 commented on #199
Object Approved - See https://github.com/OpenMobileAlliance/lwm2m-registry/pull/212

[2020-01-09 08:51] #199 closed, assigned to QingAn

[2020-01-09 08:57] seanmcilroy29 commented on #156
IPSO Working Group agreed to accept ``Ws`` - Watt per second, for registration

[2020-01-09 09:06] seanmcilroy29 commented on #336
Object Approved and merged - See https://github.com/OpenMobileAlliance/lwm2m-registry/pull/355

[2020-01-09 09:06] #336 closed, assigned to nobody

[2020-01-09 09:07] seanmcilroy29 commented on #337
Object Approved and merged - See https://github.com/OpenMobileAlliance/lwm2m-registry/pull/355

[2020-01-09 09:07] #337 closed, assigned to nobody

[2020-01-09 09:09] seanmcilroy29 commented on #385
Units updated in draft-ietf-core-senml-more-units.md - See https://github.com/core-wg/senml-more-units/commit/9f45131b925a98c62e0dc4e76baf5b20071a029c

[2020-01-09 09:09] #385 closed, assigned to nobody

[2020-01-10 02:42] Kenny-SZ commented on #385
Hi Cabo,
     Thanks for your comments and sorry for late reply. We support several types of robots, some of them are really slow(for example: receptionist robot), while some other robots may be faster than it.
But this is a common model, so we perfer to define unit based on the slowest robots.

    If we use km/h, the value will be really small for some types of robots.

B.R.
Kenny

[2020-01-16 08:57] seanmcilroy29 commented on #227
Issue can be closed - See https://github.com/OpenMobileAlliance/lwm2m-registry/pull/223#discussion_r324427474

[2020-01-16 09:01] seanmcilroy29 commented on #200
SenML units have been registered and the related errors have now been removed

[2020-01-16 09:06] seanmcilroy29 commented on #40
Resource update applied in PR https://github.com/OpenMobileAlliance/lwm2m-registry/pull/403

[2020-01-16 15:12] mkgillmore commented on #162
Has a pull request been submitted to update the TS? @hannestschofenig

[2020-01-16 15:24] mkgillmore commented on #40
Closed due to issue 181

[2020-01-16 15:24] #40 closed

[2020-01-17 08:23] seanmcilroy29 commented on #272
CloudMind Object Approved and Merged - See https://github.com/OpenMobileAlliance/lwm2m-registry/pull/411

[2020-01-17 08:26] seanmcilroy29 commented on #200
SenML registry updated.
All Object validator Errors removed

[2020-01-17 08:26] #200 closed, assigned to mkgillmore

[2020-01-17 08:28] seanmcilroy29 commented on #226
Table now in place

[2020-01-17 08:28] #226 closed, assigned to hannestschofenig, mkgillmore

[2020-01-23 14:22] jpradocueva commented on #156
All issue resolves.
IPSO WG agreed to accept ```Ws``` as a unit. It was added to the LWM2M_senml_unitls.xml file.

[2020-01-23 14:22] #156 closed, assigned to akeranen, mkgillmore

[2020-01-23 14:23] #227 closed, assigned to jpradocueva

[2020-02-09 02:17] SvanteAlnas opened #412 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-02-09 02:17:00 UTC</td></tr><tr><td>Submitter's name</td><td>Test, Please ignore!</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</

[2020-02-09 02:42] jpradocueva opened #413 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-02-09 02:42:37 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Test</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Secu

[2020-02-09 02:46] jpradocueva opened #414 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-02-09 02:46:08 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin test please ignore</td></tr><tr><td>Defined By</td><td>Private company</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td>

[2020-02-09 02:48] SvanteAlnas opened #415 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-02-09 02:48:36 UTC</td></tr><tr><td>Submitter's name</td><td>Test, Please ignore!</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</

[2020-02-15 17:04] #412 closed, assigned to nobody

[2020-02-15 17:11] #415 closed, assigned to nobody

[2020-02-15 17:11] #414 closed, assigned to nobody

[2020-02-15 17:12] #413 closed, assigned to nobody

[2020-02-18 17:14] 4openmobilealliance opened #416 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-02-18 17:14:14 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin test oma4</td></tr><tr><td>Defined By</td><td>Another SDO</td></tr><tr><td>Organization</td><td>Joaquin test</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Secu

[2020-02-18 17:17] #416 closed, assigned to nobody

[2020-02-26 09:48] jaimejim opened #417 "Which is the recommended License"
The repository has at the moment Objects that use either Apache 2 License or BSD-3 Clause License. Is it there any restriction or recommendation from DMSE or IPSO WG?

https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)
https://tldrlegal.com/license/bsd-3-clause-license-(revised)

[2020-02-26 09:50] seanmcilroy29 commented on #417
BSD-3 Clause License is the recommended license for submitted Objects as this is in line with OneDM requirements

[2020-02-26 14:07] jpradocueva commented on #417
The LwM2M Editor has been aligned with the BSD-3 software license policy.
https://devtoolkit.openmobilealliance.org/OEditor/License

[2020-02-27 08:37] jaimejim commented on #417
Okidoki, thanks!

[2020-02-27 08:37] #417 closed, assigned to nobody

[2020-03-02 08:32] jaimejim opened #418 "[UNCLEAR ATM] New "LTE-MTC Band Config" and "CoAP Config" Objects"
## Registration Information ##
### 1. Choose the type of registration: ###
  - [x] ```Object```
  - [x] ```Reusable Resource```

### 2. Choose the [Object Class](http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html#registry-table): ###
  - [ ] IPSO or DM
  - [ ] 3rd party Standards or Alliances
  - [ ] Private companies
  - [ ] Private individuals (not allowed Reusable Resources regi

[2020-03-02 21:10] jpradocueva commented on #418
@jaimejim in addition to assign 2 ObjectsIDs how many Reusable Resources do you want to reserve too?

[2020-03-04 10:18] akeranen opened #419 "Unifying "Application Type" RR descriptions"
Different objects have different description for the Application Type (5750) re-usable resource. These should be unified, for example like this: https://github.com/akeranen/lwm2m-registry/commit/88257165bd9b96178b032a31bef10819a9374027

[2020-03-05 14:48] jaimejim commented on #418
We decided in IPSO not to use reusable resources on these.

_I believe it is 14 of them. I am also reusing Resources with 48 and 5750. It might be that some of the ones I am registering are already there, in which case I'd be happy to reuse._

[2020-03-05 20:30] jpradocueva commented on #418
The discussion of these objects have been moved to an internal IPSO WG repository. https://github.com/OpenMobileAlliance/ipso-wg

[2020-03-05 20:31] jpradocueva commented on #418
@jaimejim this issue can be closed.

[2020-03-23 17:50] Philago opened #424 "LWM2M APN Connection Profile"
Hello,

I have questions on the LWM2M APN Connection Profile object.

I do not understand how Connection establishment time (1), Connection establishment result (1), Connection establishment reject cause (1) and Connection end time (1) are supposed to work and why do we have multiple instances here ?  The note "(1) For each activated PDP context request, the device may store at least one value of

[2020-03-23 18:34] jpradocueva commented on #419
The LwM2M Editor Tool was updated a while ago to remove the constrain of keeping RR description frozen. This seems to be the main root of the current issue. We are in the process of bringing back the functionality to freeze again the RR description.

[2020-03-24 15:42] #424 closed, assigned to nobody

[2020-03-26 14:57] mkgillmore commented on #418
See https://etherpad.openmobilealliance.org/p/IPSO_CC_26_Mar_2020  for update

[2020-03-26 15:38] akeranen commented on #234
Something like "The cumulative number of times the digital input resource is detected being in active state". But need to be careful to not change the semantics here. Alternatively, could keep this as such and create a new RR in future that has more clear semantics.

[2020-03-26 15:38] akeranen commented on #185
This one is resolved, right?

[2020-03-26 15:41] akeranen commented on #184
Seems to be resolved by #403

[2020-03-26 15:53] akeranen commented on #181
Also addressed by #403

[2020-03-26 15:54] akeranen commented on #180
This one needs quite a bit more thinking and design work but is very important going forward. But not urgent. Should be aligned with (TBD) design in OneDM.

[2020-03-26 16:16] akeranen commented on #163
Seems we have reasonable way forward for descriptions, but how about **names**? Same rules?

[2020-03-26 16:16] akeranen commented on #162
Same as #163

[2020-03-26 17:28] jpradocueva commented on #163
The LwM2M Editor Tool was updated to allow changes in the description of RR.
Months later, there were changes to the RR description and the tool start showing validation errors.
Now we need to reverse the changes in the LwM2M Editor Tool to DON'T allow changes in the RR description. Once this change is done, we will validate the content of the repository and pending PRs.

[2020-03-26 17:44] jpradocueva commented on #185
yes this one can be closed. RR 6049 Measurement Quality Level has been registered.

http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html

[2020-04-02 01:14] jpradocueva opened #425 "RR description errors"
## Validation of Reusable Resource Descriptions.
The LwM2M Editor tool now validates the Reusable Resource (RR) description inside of the Objects against the RR description in the Common.xml file. This file contains the RR registered in OMNA.

The tool has found over 300 errors with the descriptions:

Error | Time | Description | ObjectID and/or ResourceID
-- | -- | -- | --
465 |   | Description i

[2020-04-02 21:45] jpradocueva commented on #425
Number of times that the description of the RRID fails validation (one per object).
The baseline of the Common.xml file was taken from the branch: ```RR_Application_Type```. The column PR indicates the PR number that contains changes against the Common.xml file in that branch. Once the Common.xml file is correct, we will apply PRs to the Objects.

RRID Common.xml| Count of Objects | #PR
-- | --  |

[2020-04-13 23:35] SvanteAlnas opened #427 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-04-13 23:35:32 UTC</td></tr><tr><td>Submitter's name</td><td>Svante Alnås</td></tr><tr><td>Defined By</td><td>Another SDO</td></tr><tr><td>Organization</td><td>IGNORE - TESTING</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Secur

[2020-04-13 23:39] SvanteAlnas opened #428 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-04-13 23:39:32 UTC</td></tr><tr><td>Submitter's name</td><td>TEST, Please IGNORE</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</t

[2020-04-13 23:42] SvanteAlnas opened #429 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-04-13 23:42:16 UTC</td></tr><tr><td>Submitter's name</td><td>Test</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</td><td>Test</td>

[2020-04-13 23:46] SvanteAlnas opened #430 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-04-13 23:46:20 UTC</td></tr><tr><td>Submitter's name</td><td>TEST</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</td><td>TEST</td>

[2020-04-13 23:55] 4openmobilealliance opened #431 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-04-13 23:55:42 UTC</td></tr><tr><td>Submitter's name</td><td>TEST</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</td><td>TEST</td>

[2020-04-14 00:12] 4openmobilealliance opened #432 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-04-14 00:12:51 UTC</td></tr><tr><td>Submitter's name</td><td>TEST - IGNORE THIS</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M Security</td></tr><tr><td>Object Description</td

[2020-04-15 19:31] jpradocueva opened #433 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-04-15 19:31:36 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Another SDO</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M S

[2020-04-15 19:33] #427 closed, assigned to nobody

[2020-04-15 19:33] #428 closed, assigned to nobody

[2020-04-15 19:33] #429 closed, assigned to nobody

[2020-04-15 19:33] #430 closed, assigned to nobody

[2020-04-15 19:33] #431 closed, assigned to nobody

[2020-04-15 19:33] #432 closed, assigned to nobody

[2020-04-15 19:33] #433 closed, assigned to nobody

[2020-04-15 19:41] jpradocueva opened #434 "OMNA-Registration of LWM2M Security"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-04-15 19:41:17 UTC</td></tr><tr><td>Submitter's name</td><td>Joaquin Prado -Test</td></tr><tr><td>Defined By</td><td>Another SDO</td></tr><tr><td>Organization</td><td>Please ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LWM2M S

[2020-04-15 19:44] jpradocueva commented on #434
test

[2020-04-15 19:44] #434 closed, assigned to nobody

[2020-04-15 19:47] 4openmobilealliance opened #435 "OMNA-Registration of LwM2M Server"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-04-15 19:47:50 UTC</td></tr><tr><td>Submitter's name</td><td>oma4</td></tr><tr><td>Defined By</td><td>Another SDO</td></tr><tr><td>Organization</td><td>oma4 ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LwM2M Server</td></tr><t

[2020-04-15 19:50] jpradocueva commented on #435
close

[2020-04-15 19:50] #435 closed, assigned to nobody

[2020-04-15 19:59] 4openmobilealliance opened #436 "OMNA-Registration of LwM2M Access Control"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-04-15 19:59:26 UTC</td></tr><tr><td>Submitter's name</td><td>oma4-2-ignore</td></tr><tr><td>Defined By</td><td>Another SDO</td></tr><tr><td>Organization</td><td>oma4 - 2 ignore</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>LwM2M Acces

[2020-04-16 18:54] jpradocueva commented on #436
close as it s part of a test

[2020-04-16 18:54] #436 closed, assigned to nobody

[2020-04-16 19:09] jpradocueva commented on #425
# Phase 1
## Define a canonic baseline for Common.xml file

### PR Rejected
This means that the content in the Common.xml file is correct as it is defined in "RR_Applicaton_Type"
* approved by IPSO WG, 16th Apr 2020
* repo & branc: [ipso-wg](https://github.com/OpenMobileAlliance/ipso-wg/pulls?q=is%3Apr+is%3Aopen+label%3A%22PR+Rejected%22)
* [#254](https://github.com/OpenMobileAlliance/ipso-wg/pull

[2020-04-22 10:45] sbernard31 opened #438 "Which branch reflet the real/published LWM2M registry?"
Hi,

It's not clear to me to know which branch represent the real/published LWM2M registry ?
Maybe the `prod` one ?

Someone could confirm this ?

Thx :pray:

[2020-04-22 10:51] sbernard31 opened #439 "[Registry API] Request by LWM2M version of the specification"
With the [Registry API](https://wiki.openmobilealliance.org/display/TOOL/Registry+API), is there a way to request all objects compatible the a given version of the specification ?

[2020-04-22 19:18] jpradocueva commented on #438
Yes, `prod` branch contains the final content that it is made public. It was call `prod` to dissuade people from taking the content from GitHub. The content was mirror in an ftp folder.
The group has recently changed that approach so going forward it will the the only place to obtain the set of final approve objects.

[2020-04-22 19:20] jpradocueva commented on #439
Initially it was not defined to provide that information. Let me give it a second though as it may be possible to extract it. I will add the comment here after my research.

[2020-04-23 07:25] sbernard31 commented on #438
You mean the `prod` branch will be the only place ?

[2020-04-23 07:26] sbernard31 commented on #439
thx :pray:

[2020-04-23 17:30] seanmcilroy29 opened #440 "[Action Item] Acronym should be expanded"
All acronyms in the description should be expanded.
This requirement to be added to the Object guidelines

[2020-04-23 19:05] jpradocueva commented on #438
Yes, the `prod` branch contains the canonical information of the LwM2M Registry approved by the group.
In the near future the [Registry API](https://wiki.openmobilealliance.org/display/TOOL/Registry+API) service, the [LwM2M Registry](http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html) page and the [LwM2M Editor Tool](https://devtoolkit.openmobilealliance.org/OEditor/Legal?back=defa

[2020-04-23 19:43] jpradocueva commented on #439
There is a way to do it although may be bit an "unorthodox" method.

The API provides information stored in the DDF.xml. You can see the [Metadata Information](https://wiki.openmobilealliance.org/display/TOOL/Registry+API) below:

![image](https://user-images.githubusercontent.com/3258579/80140487-dda0a680-855c-11ea-8e1b-92c697619461.png)

* [3], `SpecLink` indicates the Technical Specification as

[2020-04-24 07:28] sbernard31 commented on #438
Thx a lot for this detailed answer, it's help a lot ! :pray:

[2020-04-24 07:28] #438 closed, assigned to nobody

[2020-04-24 07:31] sbernard31 commented on #439
Could you tell me which list you are talking about ? :pray:

[2020-04-24 14:57] jpradocueva commented on #439
Probably the best one is this list as it is control by IPSO WG the owner of the LwM2M Registry.
https://github.com/OpenMobileAlliance/lwm2m-registry/issues

[2020-04-27 13:25] sbernard31 commented on #439
Ok right, so I'm in the good place. :-)

I'm a [Leshan](https://github.com/eclipse/leshan) maintainer and my needs is to keep my model up to date in Leshan library. Currently we only support LWM2M v1.0 so I would like to be able to request the object version for this version only.

Ideally, I would like to know if the model come from "core" spec too.

Currently models are embedded in the Library b

[2020-04-27 14:43] sbernard31 opened #442 "missing `LWM2MVersion` tag in LWM2M_Connectivity_Monitoring-v1_1.xml ?"
Maybe not an issue but it seems that : [LWM2M_Connectivity_Monitoring-v1_1.xml](https://github.com/OpenMobileAlliance/lwm2m-registry/blob/prod/LWM2M_Connectivity_Monitoring-v1_1.xml) does not contains the `<LWM2MVersion>1.1</LWM2MVersion>` tag ?

[2020-04-27 14:50] jpradocueva commented on #439
I suggested to close this one, and open a new Issue with your request.
I will bring to the attention of the IPSO Working Group chair your request and add it to the agenda topics for the group to discuss.
If you are invited to the IPSO WG meeting will you be able to attend and make your request to the group?

[2020-04-27 14:52] sbernard31 opened #443 "missing "Communications Characteristics" (17) object and "Non-Access Stratum (NAS) Configuration"(18) ?"
It seems that object 17 was removed ? is it expected ?

No more result at : http://www.openmobilealliance.org/api/lwm2m/v1/Object?ObjectID=17
No more link in : http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html
Does not exist in this github repository ?

(same for object 18)

[2020-04-27 15:08] sbernard31 opened #444 "[Registry API Feature Request] Requesting Object by LWM2M version."
About the [Registry API](https://wiki.openmobilealliance.org/display/TOOL/Registry+API) :

I'm a Leshan maintainer and my needs is to keep my model up to date in Leshan library. Currently we only support LWM2M v1.0 so I would like to be able to request the object version for this LWM2M version only.

Currently models are embedded in the Library but we could also imagine a more dynamic system (main

[2020-04-27 15:12] sbernard31 commented on #439
I created a new dedicated issue : https://github.com/OpenMobileAlliance/lwm2m-registry/issues/444

Hoping this is clear enough. If you have more question do not hesitate to ask about our needs.

Thx for the invitation but unfortunately I'm not so comfortable with oral/spoken English so I would prefer to avoid it and keep using asynchronous channel like github.

Thx again for your time :pray:

[2020-04-27 15:12] #439 closed, assigned to nobody

[2020-04-27 15:20] jpradocueva commented on #439
No worries, I will relay your comment to the group. If I need further input I will come back to you.
You can send us emails directly to helpdesk@omaorg.org. I will share with you my own email so you can reach me whenever you need. We should work closer for the good of Leshan/LwM2M specs.

[2020-04-27 15:24] sbernard31 commented on #439
:+1:

[2020-04-27 16:13] jpradocueva commented on #442
@hannestschofenig this issue should be reviewed by the DMSE WG. The version 1.1 of the Connectivity Monitoring is missing the LwM2M Version tag.
![image](https://user-images.githubusercontent.com/3258579/80394852-4b074c80-8867-11ea-999c-a6f9c0c3543a.png)

[2020-04-27 16:20] jpradocueva commented on #443
These objects have not been formally released by OMA yet.
What you see in the registry is the placeholders for these two objects.
If you want to make an enquire about them, you can raise your question in the issues of the LwM2M for Developers, this list of issues is reviewed by DMSE Working Group who is in charge of the Objects developed by OMA for LwM2M.
https://github.com/OpenMobileAlliance/OMA_

[2020-04-28 07:55] sbernard31 commented on #443
OK.

We have those 2 objects available in Leshan demo, I don't know how this happened :thinking:
But if you say there are not yet released, I will just remove it from demo.

Thx for your help.

[2020-04-28 07:55] #443 closed, assigned to hannestschofenig

[2020-04-28 18:14] jpradocueva commented on #443
Yes please remove them. The group has a new objects that they will be available at the next release.

[2020-04-29 14:15] sbernard31 opened #446 "bad resource Type for executable ressource(3) in object 10260 ?"
The model object of 10260 seems to be incorrect :

[code]
(see https://github.com/OpenMobileAlliance/lwm2m-registry/blob/test/10260.xml#L81)

Following the specification, I understand that executable resource should have an empty type : `<Type></Type>`

|  Data Type	|  Description |
|---	|---	|
| none|  No specific data type affected to that resource: it exclusively concerns Executable Resource.	|

[2020-04-29 15:45] jpradocueva commented on #446
You are correct. This was detected a while ago and a new object version 2.0 was created. http://www.openmobilealliance.org/tech/profiles/lwm2m/10260-2_0.xml
At that time the group agreed that v1.0 should not be removed but just superseeded.

[2020-04-29 16:13] sbernard31 commented on #446
I see that 10260-2_0 has change semantically, I mean new resource new type so a new version, it makes sense !

But here this is an invalid model which does not respect the standard to me this should be fixed and  replaced by patched version like `10260-1_0_1.xml` or `10260-v1_0_1.xml` which only removed this `Type` tag issue.

I mean patch version exists for this kind of bug.

[2020-04-29 16:25] jpradocueva commented on #446
You have a point. Unfortunately, didn't follow that approach at that time. But it can be done before the repository is updated. They are planning to remove Object version from the file name.

[2020-04-30 14:00] sbernard31 commented on #446
Just to let you know, if I embed the current version of `10260`, I get this log at **leshan-server-demo** start up :
[code]
So on my side, I will fix it internally.

(**leshan-server-demo** also embed the v2.0)

[2020-05-14 15:08] mkgillmore commented on #444
@jaimejim will attempt to setup a call with @sbernard31 to discuss details about how we can best support this project

[2020-05-14 15:12] #418 closed, assigned to nobody

[2020-05-14 15:18] mkgillmore commented on #425
Group agreed to close 5/14/2020

[2020-05-14 15:18] #425 closed, assigned to nobody

[2020-05-14 15:19] mkgillmore commented on #446
5/14/2020 Agreed to close

[2020-05-14 15:19] #446 closed, assigned to nobody

[2020-05-14 15:22] mkgillmore commented on #419
Addressed by the overall RR pull request #456 merged today 5/14/2020

[2020-05-14 15:22] #419 closed, assigned to nobody

[2020-05-14 15:23] mkgillmore commented on #258
This has been addressed by PR #456

[2020-05-14 15:23] #258 closed, assigned to nobody

[2020-05-14 15:25] mkgillmore commented on #257
Need a new pull request that creates new RR's for latitude and longitude as float object types.

[2020-05-14 15:36] mkgillmore commented on #255
This actually affects RR 4011 and 4012.  PR needs to be created

[2020-05-14 15:41] sbernard31 commented on #446
And so you will provide a fixed version `10260-v1_0_1.xml` in the registry ?

[2020-05-14 15:43] mkgillmore commented on #163
Need Ari to review @akeranen

[2020-05-14 15:44] mkgillmore commented on #162
@akeranen Can I close this and keep 162 open?

[2020-05-22 13:40] akeranen commented on #162
@mkgillmore can close this and keep #163 open

[2020-06-02 08:20] gh-axel-czarniak opened #472 "[Registry API] /lwm2m/v1/Object?ObjectVersion=latest not working as expected"
Hello,

I'm using the OMA Registry API inside a project and I would like to retreive only the latest version of the XML object.

An API was made for this kind of need:
- lwm2m/v1/Object?ObjectVersion=latest
    Retrieve a JSON file containing all the metadata information with the latest version of the Objects

The problem is that this API does not work as expected. When a XML has two different ver

[2020-06-03 05:52] jpradocueva commented on #472
@axelczk Thanks for raising this issue.
I have been able to reproduce the problem. http://www.openmobilealliance.org/api/lwm2m/v1/Object?ObjectVersion=latest

Let be investigate and find a resolution.
I will let you know once it is done.

[2020-06-04 03:32] jpradocueva commented on #472
This problem has been resolved now.
 http://www.openmobilealliance.org/api/lwm2m/v1/Object?ObjectVersion=latest
There were an error in the code.
Thanks for raising the issue. If everything is ok on your side, please close the issue.

[2020-06-04 07:45] gh-axel-czarniak commented on #472
It's good. Thanks !

[2020-06-04 07:45] #472 closed, assigned to jpradocueva

[2020-06-11 15:07] mojanm commented on #442
I believe that to be a mistake. As I recall SignalSNR resource (resource ID 11) was added to Connectivity Monitoring to create v1.1. of the object while developing LwM2M v1.1.0 specifications. I think post LwM2M v1.1 approval, LAC (resource ID 12) was then added to create v1.2 of connectivity monitoring to go into LwM2M v1.1.1?

[2020-06-11 17:57] jpradocueva commented on #442
In the schema lwm2m.xsd, the element "LWM2MVersion" was declared as optional, with a minimum occurrence of "0". It was done in this way because the elements "LWM2MVersion" and "ObjectVersion" were introduced a later stage. I have always suggested that these values should be added even if they were considered optional.
Now, we have the situation where the object was evolving and we forgot to add th

[2020-06-12 14:25] mojanm commented on #442
That sounds a good plan.
Just need to bear in mind that by doing so objects other than 0-7 and OSCORE that may have evolved without using a new data type will end up having to include LwM2MVersion in their xml which will be set to 0; personally think this to be OK.

[2020-06-12 19:06] jpradocueva commented on #442
The group will have to confirm that they want to include this new validation criteria.

[2020-06-18 23:01] aushah22 opened #485 "OMNA-Registration of CO Detector"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-06-18 23:01:47 UTC</td></tr><tr><td>Submitter's name</td><td>Abhi Shah</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>CO Detector</td></tr><tr><td>Object Description</td><td>This is

[2020-06-18 23:08] aushah22 opened #486 "OMNA-Registration of CO Detector"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>New OMNA registration request</td><td>2020-06-18 23:08:39 UTC</td></tr><tr><td>Submitter's name</td><td>Abhi Shah</td></tr><tr><td>Defined By</td><td>OMA Working Group</td></tr><tr><td>Type of registration</td><td>Object</td></tr><tr><td>Object Name</td><td>CO Detector</td></tr><tr><td>Object Description</td><td>This is

[2020-06-19 01:14] jpradocueva commented on #486
@aushah22 @asoloway64 This request seems to be repeated in three different areas. Here, #485 and #486. I am closing the last two and we will keep this one open.

The registration process can be seen here [README](https://github.com/OpenMobileAlliance/lwm2m-registry/blob/test/README.md).
If the intention to register this Object on behalf of your company? If this is the case, we will create a specif

[2020-06-19 01:15] jpradocueva commented on #485
This request is superseded by #486

[2020-06-19 01:15] #485 closed, assigned to nobody

[2020-06-19 01:19] aushah22 commented on #486
Hi @jpradocueva ,
We have raised this request on behalf of Qualcomm Technologies Inc.
We are ok with closing request  #485.
#486 is the final one.

Thanks,
Abhi

[2020-06-19 01:26] jpradocueva commented on #486
@seanmcilroy29 we need to create a placeholder for a new ObjectID in the "x" range for Qualcomm Technologies Inc. And send the branch to @aushah22 for registration.

[2020-06-19 08:20] seanmcilroy29 commented on #486
@aushah22 - ObjectID 10371 has been reserved for you in the `x range`.
For your registration please submit a PR with your Object against this branch - https://github.com/OpenMobileAlliance/lwm2m-registry/tree/Qualcomm

Steps | Actions | Comments
-- | -- | --
1 | Submit Pull Request against the nominated branch with your object | Staff validates PR
2 | IPSO discuss the submitted Object registration

[2020-06-19 13:16] asoloway64 commented on #486
We will also like to reserve another object number for an additional object definition.

Thanks!

From: Joaquin <notifications@github.com>
Sent: Thursday, June 18, 2020 19:27
To: OpenMobileAlliance/lwm2m-registry <lwm2m-registry@noreply.github.com>
Cc: Alan Soloway <asoloway@qti.qualcomm.com>; Mention <mention@noreply.github.com>
Subject: Re: [OpenMobileAlliance/lwm2m-registry] OMNA-Registration o

[2020-06-19 13:22] asoloway64 commented on #486
Hi Joaquin,

I created PR#489 Create 10371.xml<https://github.com/OpenMobileAlliance/lwm2m-registry/pull/489> against the qualcomm branch.

If you can let me know when this will be discussed, I can attend that IPSO meeting.

Thanks for the help!

Regards,
Alan

From: Sean Mcilroy <notifications@github.com>
Sent: Friday, June 19, 2020 02:20
To: OpenMobileAlliance/lwm2m-registry <lwm2m-registry@nore

[2020-06-19 13:43] seanmcilroy29 commented on #486
@asoloway64 - I've reserved ObjectID 10372 for you. Could you use this branch for the submission of this Object?

[2020-07-09 14:56] sbernard31 opened #502 "[Sierra Wireless] Object Registration `DeviceExt`"
## Registration Information ##
### 1. Choose the type of registration: ###
  - [X] ```Object```
  - [ ] ```Reusable Resource```

### 2. Choose the [Object Class](http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html#registry-table): ###
  - [ ] 3rd party Standards or Alliances
  - [X] Private companies
  - [ ] Private individuals (not allowed Reusable Resources registration)

## 3. Co

[2020-07-10 07:50] seanmcilroy29 commented on #502
@sbernard31 Thank you for your registration.

**Required Object Updates**
- [ ] Object Version 1.0
- [ ] Object ID - 10371
- [ ] The object URN allocation for this object will be reserved as urn:oma:lwm2m:x:10371
- [ ] Update range enumeration from ``-`` to ``..``

**Steps** A new branch,  ```Sierra Wireless``` has been created in the LwM2M registry for the WG to review your object - Please submit

[2020-07-16 06:55] seanmcilroy29 commented on #502
@sbernard31 - The feature branch is available for you to submit your Object - https://github.com/OpenMobileAlliance/lwm2m-registry/tree/Sierra_Wireless

As a note, the WG meets every Thursday to review submitted Objects.

If you are encountering any problems, please let me know

[2020-07-16 09:35] sbernard31 commented on #502
@seanmcilroy29, thanks I will try to find time to that before the end of the week. (probably available for new Thursday 23th meeting)

[2020-07-16 13:47] sbernard31 commented on #502
PR is created : #504.

[2020-08-06 07:44] seanmcilroy29 commented on #486
Object Approved - See https://github.com/OpenMobileAlliance/lwm2m-registry/pull/507

[2020-08-06 07:44] #486 closed, assigned to nobody

[2020-08-17 16:27] will-aos opened #518 "/4/0/9 and /4/0/10 errata"
Concept            | Description
:----------------|:------------------------------
Number of ```Object(s)``` or ```Reusable Resource(s)``` to register  | /4/0/9 and /4/0/10 errata
Name of SDO, Company or individual    | Will Bell, Aetheros
Object Name (as defined in the .xml file) |  Object 4:  resource 9 SMNC and resource 10 SMCC
Short Object description, to be used in the pubic registry (max 134

[2020-08-21 11:42] seanmcilroy29 commented on #184
See - https://github.com/OpenMobileAlliance/lwm2m-registry/pull/516

[2020-08-21 11:42] #184 closed, assigned to akeranen, dirtyha, mkgillmore

[2020-08-21 11:43] seanmcilroy29 commented on #185
See PR https://github.com/OpenMobileAlliance/lwm2m-registry/pull/516

[2020-08-21 11:43] #185 closed, assigned to akeranen, dirtyha, mojanm, mkgillmore

[2020-08-21 11:44] seanmcilroy29 commented on #180
See PR - https://github.com/OpenMobileAlliance/lwm2m-registry/pull/516

[2020-08-21 11:44] #180 closed, assigned to akeranen, dirtyha

[2020-08-21 11:45] seanmcilroy29 commented on #181
See PR - https://github.com/OpenMobileAlliance/lwm2m-registry/pull/516

[2020-08-21 11:45] #181 closed, assigned to akeranen, dirtyha, ScottTaftPotter, mkgillmore

[2020-08-26 14:05] seanmcilroy29 commented on #518
Comments submitted by DMSE WG

MCC is always 3 digit code.
MNC can be 2 or 3 digit code with a leading 0.

Changing from integer to string would cause backward incompatibility issues. We recommend the server-side applications to add leading zeroes when needed.

[2020-08-27 21:51] will-aos commented on #518
@seanmcilroy29
So you are proposing that the community live with this obvious bug forever?
Will the Working Group consider fixing the data type in a v.1.3 (or later) of object 4?
It is impractical to expect a server to understand when an MNC for example reported by client should be 10 or 010, both of which are valid and distinct values.

[2020-09-01 15:20] hannestschofenig commented on #518
We will consider this change in the next major release but for version 1.2 we cannot change the data type from integer to string due to backwards compatibility problems.

[2020-09-01 15:22] hannestschofenig commented on #518
FWIW we are always looking for experts, like yourself, to participate in the work and contribute text to make the changes to the specification. We encourage you to join OMA SpecWorks and to help us in the standardization process.

[2020-09-02 20:07] pelya opened #519 "Empty <Operations> values for Server object resources /1/X/13..1/X/20"
The definition of Server object /1 at LWM2M_Server-v1_1_1.xml has empty <Operations> tags for resources from /1/X/13 to /1/X/20. I suppose they all should have "RW" permissions, but you at least have to specify "R" permission, otherwise the only command the server is allowed to do to these resources is Discover.

Just look what this broken object definition did to Leshan:
![Screenshot_20200902_230

[2020-09-03 07:42] seanmcilroy29 commented on #519
Comment submitted directly to PR https://github.com/OpenMobileAlliance/lwm2m-registry/pull/520#issuecomment-686227798.
- Unfortunately, the object that you would like to change the "LwM2M Server" is maintained by the DMSE working group.
This registry doesn't accept direct changes on Object that have been created by OMA Working Groups.
If you think that it is not correct, then please raise the issu

[2020-09-04 17:46] pelya commented on #519
Thanks, I've submitted the issue to the DMSE:
https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/500

[2020-09-05 03:01] jpradocueva commented on #518
If further discussion is needed on this topic, I suggest to create an issue here https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues.

This discussion is about Object ID 4, Connectivity Monitoring and the protocol. This discussion should take place in the above repository rather than here. This repository is dedicated to register new Objects or discussion with Object created by O

[2020-09-05 03:01] #518 closed, assigned to bahadirdanisik

[2020-09-05 14:15] SvanteAlnas opened #523 "OMNA Reservation"
<!DOCTYPE html><html><head><meta charset="utf-8" /></head><body><table><tr><td>Number of Objects</td><td>1</td></tr><tr><td>Number of Reusable Resources</td><td>0</td></tr><tr><td>Submitted by</td><td>SDO</td></tr><tr><td>Organization Name</td><td>TEST PLEASE IGNORE</td></tr><tr><td>Comment</td><td>TEST</td></tr>

[2020-09-10 09:04] seanmcilroy29 commented on #523
Test reservation

[2020-09-10 09:04] #523 closed, assigned to nobody

[2020-09-15 14:27] mkgillmore commented on #502
All issues have been resolved as of 9/15/2020

[2020-09-15 14:27] #502 closed, assigned to nobody

[2020-09-15 14:30] #162 closed, assigned to akeranen, mkgillmore

[2020-09-15 14:31] #255 closed, assigned to mkgillmore

[2020-09-15 14:34] mkgillmore commented on #257
@akeranen Ari,  have you made a pull request for this?  I will close this issue by 10/1/2020 if I do not see a proposal

[2020-09-15 14:40] mkgillmore commented on #442
@hannestschofenig We need to discuss this in the DMSE group meetings

[2020-09-15 14:41] mkgillmore commented on #440
@akeranen Ari,  I need a pull request by 10/1/2020 or I will close this issue

[2020-09-15 14:42] mkgillmore commented on #234
This issue has been covered with the latest changes

[2020-09-15 14:42] #234 closed, assigned to akeranen

[2020-09-15 14:43] #163 closed, assigned to akeranen, mkgillmore

[2020-09-15 16:14] sbernard31 commented on #442
That was just a question and there is maybe no issue at all :sweat_smile:

`LWM2M_Connectivity_Monitoring-v1_1.xml` respect the xml schema of LWM2M 1.0 so maybe even if it was modify for LWM2M 1.1, if it is compatible with LWM2M 1.0 it could make sense to let it like this.

This is probably true in a general way. I mean upgrading LWM2MVersion should maybe only be done if new model require features

[2020-09-15 17:23] jpradocueva commented on #442
@hannestschofenig just to confirm from my side.

At the moment we haven't received any request to update the validation tool with a new error code that indicates if any of these two parameters are missing from an Object:  "LWM2MVersion" or,and "ObjectVersion"

[2020-09-15 17:51] mkgillmore commented on #442
Joaquin,

After my soon to be proposed pull request,  yes, objects that do not contain lwm2m_version or object_version should be flagged.

Matt

From: Joaquin <notifications@github.com>
Sent: Tuesday, September 15, 2020 1:24 PM
To: OpenMobileAlliance/lwm2m-registry <lwm2m-registry@noreply.github.com>
Cc: Gillmore, Matthew <Matthew.Gillmore@itron.com>; Comment <comment@noreply.github.com>
Subject:

[2020-09-15 17:56] jpradocueva commented on #442
@mkgillmore thanks Matt, in that case. I will prepare the requirements for it. This work can be considered as part of the tool maintenance for which we have a budget. I will notify to IPSO/DMSE the plans for introducing these two new error codes on time for the next meeting.

[2020-09-22 14:40] jaimejim commented on #442
@sbernard31  IMO is a small errata introduced unintentionally. I hope it does not break anything.

Formally probably DMSE should discuss and possibly change it retroactively as it is errata introduced unintentionally on the XML.

[2020-09-23 06:10] akeranen commented on #257
Can’t do one during my leave but it’s such an obvious problem that some fix should be done instead of ignoring this.

[2020-09-24 13:22] jaimejim commented on #444
This issue fell through the cracks.

IMO we could add the feature requested to the Registry API, a query by ```<LWM2MVersion>```. I do not know which WG (IPSO, DMSE) controls/decides on that, but I am definitely OK with it.

FYI @sbernard31 prefers interactions through the issue tracker, so others in DMSE and IPSO could answer here @hannestschofenig and @mkgillmore .

[2020-11-05 13:48] seanmcilroy29 opened #541 "Smart Quotes Object Errors"
Error | Time | Description | ObjectID and/or ResourceID | Error update
-- | -- | -- | -- | --
420 |   | Invalid XML characters | 1:4 |  https://github.com/OpenMobileAlliance/objects-lwm2m/pull/156
420 |   | Invalid XML characters | 1:6 | https://github.com/OpenMobileAlliance/objects-lwm2m/pull/156
420 |   | Invalid XML characters | 1:8 |  https://github.com/OpenMobileAlliance/objects-lwm2m/pull/15

[2020-11-05 16:02] jmudge commented on #541
Most of the above error messages that I've examined seem to be caused by the smart quote characters. However aren't characters such as &ldquo; (U+201C) valid in a UTF-8 XML CDATA section? If so then no particular action may be required regarding the related error messages, though the smart quotes could perhaps be replaced by ordinary quote " characters when the files are next being updated anyway

[2020-11-05 18:49] jpradocueva commented on #541
@jmudge I have created #452 to address some of the errors. Sean will take care of the errors that are part of the "objects-lwm2m". There will be a small number of Objects that we will have to discuss how to take care of.

We need to introduce straight quotes because some parsing tools were having problems to interpret the smart quotes.

Also, I am investigating the error in 10245 and 10309 "-". Th

[2020-11-06 10:27] seanmcilroy29 commented on #541
Error | Time | Description | ObjectID and/or ResourceID | Error update
-- | -- | -- | -- | --
420 |   | Invalid XML characters | 1:4 |  https://github.com/OpenMobileAlliance/objects-lwm2m/pull/156
420 |   | Invalid XML characters | 1:6 | https://github.com/OpenMobileAlliance/objects-lwm2m/pull/156
420 |   | Invalid XML characters | 1:8 |  https://github.com/OpenMobileAlliance/objects-lwm2m/pull/15

[2020-11-06 11:11] SvanteAlnas commented on #541
I have done some updates in the other thread, see: https://github.com/OpenMobileAlliance/OMA_LWM2M_Editor/issues/240

[2020-11-10 14:30] mkgillmore commented on #440
Request a new issue be created with specific objects that need further clarification with acronyms

[2020-11-10 14:30] #440 closed, assigned to nobody

[2020-11-17 08:36] seanmcilroy29 commented on #541
Smart Quotes Object Errors removed

[2020-11-17 08:36] #541 closed, assigned to jpradocueva, seanmcilroy29, jmudge

[2020-12-27 21:13] k0d opened #561 "Wrong description for location object"
I might be mistaken, but it seems like the description at the link below is wrong.

https://github.com/OpenMobileAlliance/lwm2m-registry/blob/5f648f79493d00768cdb43abe5aacdf91bd3334f/DDF.xml#L272

[2020-12-28 00:51] jpradocueva commented on #561
@k0d  It appears that you are right, and the worrying part is that the validation tool didn't pickup that error. We will have to further investigate how it was possible that the tool didn't raise an error. Thanks for raising the issue!

[2020-12-30 17:58] jpradocueva commented on #561
PR #563

[2021-01-06 09:06] seanmcilroy29 opened #565 "Missing ObjectVersion & LWM2MVersion"
The Editor tool has now been updated to validate for

- Object Description Mismatch
- Missing LWM2MVersion
- Missing ObjectVersion.

a.	The following Missing _LWM2MVersion_ & _ObjectVersion_ errors have now been identified

Error | Time | Description | ObjectID and/or ResourceID
-- | -- | -- | --
800 |   | LWM2MVersion missing | 8 |  
800 |   | ObjectVersion missing | 8 |  
800 |   | LWM2MVersion

[2021-01-06 09:07] kcali-gcx opened #566 "Wiki permissions too permissive?"
I noticed that the Guidelines were missing the private resource ID range.
Therefore I added it and expected a PR will be created, but it was directly changed without any PR. 😁

You can see my changes [here](https://github.com/OpenMobileAlliance/lwm2m-registry/wiki/Guidelines/_compare/7a323e340abe26e0254e6163bab46f35cafce251...ce9bb585c21544d395e44b558ba665362035eee8).

[2021-01-08 10:31] kdhaka opened #567 "Object 10243, Voltage as type String, should be float"
Single Phase Power Meter Tension (Voltage) type is String. It should be Float:
https://github.com/OpenMobileAlliance/lwm2m-registry/blob/prod/10243.xml#L97

3 Phase Power Meter Tension type is correct:
https://github.com/OpenMobileAlliance/lwm2m-registry/blob/prod/10242.xml#L97

[2021-01-19 14:42] jpradocueva commented on #567
Prepare a new branch where the DDF will be updated to v1.1 for this object.

[2021-01-20 17:27] mojanm commented on #567
@mojanm will submit the necessary PR to create a new version of Single Phase Power Meter object with Tension Resource type changed to float. As Tension is a Mandatory resource, the new version of Object will be 2.0.

[2021-02-01 15:09] akeranen opened #577 "Typo in Actuation Object"
Resource 5853 ("Muti-state Output") of Actuation (3306) Object should be "Multi-state Output"

https://github.com/OpenMobileAlliance/lwm2m-registry/blob/prod/3306.xml#L76

[2021-02-02 08:56] seanmcilroy29 commented on #565
ObjectVersion & LWM2MVersion errors removed

[2021-02-02 08:56] #565 closed, assigned to hannestschofenig, jaimejim, mkgillmore

[2021-02-09 14:24] jpradocueva commented on #577
Maintainer to create a Pull Request to be reviewed next week.

[2021-02-09 17:02] seanmcilroy29 commented on #567
Object updated - See https://github.com/OpenMobileAlliance/lwm2m-registry/pull/582

[2021-02-09 17:02] #567 closed, assigned to jpradocueva, seanmcilroy29

[2021-02-10 16:10] rlubos opened #583 "Duplicate Timestamp resource in Location object description (version 1.1)"
The Timestamp resource (5518) is duplicated in the description of the Location object (3336) in version 1.1. It was already present in object version 1.0 and now there are two entries for the resource, first at [line 96](https://github.com/OpenMobileAlliance/lwm2m-registry/blob/prod/3336.xml#L96) and then at [line 116](https://github.com/OpenMobileAlliance/lwm2m-registry/blob/prod/3336.xml#L116).

[2021-02-11 16:13] sbernard31 opened #585 "[question] Which version of model should I use ?"
Hi,

**Some context :**
  In Leshan we need LWM2M models to run our code and so we embed core models in our library.
  I call "core" models all objects defines in LWM2M core specification. (e.g. for LWM2M v1.1 : 0,1,2,3,4,5,6,7, 21)

  Leshan v1.x (released) implements LWM2M v1.0.x
  Leshan v2.x (in development)  implements LWM2M v1.1.x

**The question :**
 I would like to know which version do yo

[2021-02-11 16:36] sbernard31 commented on #583
I confirm this :

Leshan raises :
[code]

[2021-02-11 16:53] sbernard31 commented on #585
About the Bonus question, the answer seems to be in [core§7.2.2- Object Version Format.](http://www.openmobilealliance.org/release/LightweightM2M/V1_1_1-20190617-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_1_1-20190617-A.html#7-2-2-0-722-Object-Version-format) (from https://github.com/eclipse/leshan/issues/972#issuecomment-777632020)

[2021-02-12 12:48] jaimejim commented on #257
From the chat discussion I am not sure if this is exactly what you guys want. I just did a PR of a 3336 object with latitude, longitude and uncertainty as string and a new "decimal" latitude, longitude and uncertainty optional float resources. Incrementing object version to 1.2. I leave the OIDs with XXXX pending code number assignment.

https://github.com/OpenMobileAlliance/lwm2m-registry/pull/58

[2021-02-12 15:38] jpradocueva commented on #257
@jaimejim it will be easier for us if we create the branch for you, rather than you create a PR directly against "test". IPSO has changed the branch to start the work to "dev". The reason to follow the instructions in https://github.com/OpenMobileAlliance/lwm2m-registry#lwm2m-registry is because it makes it easy to validate and merge the content without conflicts.
I will close the current PR and w

[2021-02-12 16:38] seanmcilroy29 commented on #257
New branch create for the update to Obj - 3336 See - https://github.com/OpenMobileAlliance/lwm2m-registry/tree/3336_update

[2021-02-16 14:30] mkgillmore commented on #585
@sbernard31 Simon,
All possible versions of the objects are here:
https://github.com/OpenMobileAlliance/lwm2m-registry/tree/prod/version_history

If a Core Object version does not correspond to version contained in the LwM2M Enabler release supported by the
LwM2M Client, the Object Version MUST be provided by the LwM2M Client to the LwM2M Server.  The enabler specifications have examples of regist

[2021-02-16 14:33] mkgillmore commented on #583
We confirm this issue and will attempt to address ASAP

[2021-02-17 09:59] seanmcilroy29 commented on #577
Issue resolved - see PR https://github.com/OpenMobileAlliance/lwm2m-registry/pull/584

[2021-02-17 09:59] #577 closed, assigned to hannestschofenig, mkgillmore

[2021-02-17 10:18] seanmcilroy29 commented on #442
Issue resolved - See Final Publication https://github.com/OpenMobileAlliance/lwm2m-registry/pull/587

[2021-02-17 10:18] #442 closed, assigned to hannestschofenig

[2021-02-23 09:09] seanmcilroy29 opened #589 "Proposal to update 3336 lat/long/uncert in float"
Proposal update of 3336.xml with lat/long/uncert in float.
In relation to #257

Proposed 3 new Reusable Resources to be added (Note RR ID's 6051 - 6053 have been reserved)

[code]

See closed PR https://github.com/OpenMobileAlliance/lwm2m-registry/pull/586/files for additional proposed file updates

[2021-02-25 09:09] seanmcilroy29 commented on #561
Wrong description for location object resolved and Published - See PR #563

[2021-02-25 09:09] #561 closed, assigned to seanmcilroy29

[2021-03-16 10:58] seanmcilroy29 opened #600 "Choosing first IPSO models for OneDM convergence process"
Choosing the first IPSO models for OneDM convergence process

The OneDM/SDF work has now progressed to a state where we have "implementation stable" specification of the semantic description format (SDF) [1] and OneDM liaison group is now starting to implement the model converging/consolidation process (to end up with common models across ecosystems). We should select now a couple of IPSO models f

[2021-03-23 09:16] akeranen commented on #589
Actually "Numeric X" would be better than "Decimal X" here since the value is float not decimal.

[2021-03-24 09:05] seanmcilroy29 commented on #589
@akeranen - https://github.com/OpenMobileAlliance/lwm2m-registry/tree/Obj_3336_update feature branch created for you to submit a PR to add/update Object 3336 with the 3 additional RR.
- Note RR ID's 6051 - 6053 have been reserved for you

[2021-03-26 11:52] akeranen commented on #589
PR here: https://github.com/OpenMobileAlliance/lwm2m-registry/pull/601

[2021-03-26 11:56] akeranen opened #602 "Indentation/formatting issues in object definitions"
This is purely editorial issue. Some object XML files in the registry use mixed tabs and spaces for indentation. For example, Object 3336 has first 7 resource definitions indented with spaces only but the last 3 with tabs. I would recommend to use only spaces.

[2021-04-12 12:25] jaimejim opened #607 "On Remote SIM Provisioning proposed Objects (504, 505)"
I would like to raise an issue on PRs [#606](https://github.com/OpenMobileAlliance/lwm2m-registry/pull/606) and [#604](https://github.com/OpenMobileAlliance/lwm2m-registry/pull/604), which are related to objects [504.xml](https://github.com/OpenMobileAlliance/lwm2m-registry/blob/58361a9a7fba163f4d49d837126e5705bb24e4cb/504.xml) and [505.xml](https://github.com/OpenMobileAlliance/lwm2m-registry/blo

[2021-04-13 20:03] asoloway64 commented on #607
We believe we have met the Ericsson desires by defining Object 504 to address the use case where the LwM2M client connects directly to the SM-DP+ server and the use case where the LwM2M server is an intermediary between the LwM2M client and the SM-DP+ server. Per the Qualcomm desire, the use case where the LwM2M server is the repository of the SIM Update Package and is used to download that packag

[2021-04-16 07:56] PerStahl commented on #607
Thanks Alan. So the Qualcomm proposal is to modify Object 504 to remove support for nuSIM and focus only on GSMA Remote SIM Provisioning and the nuSIM provisioning would be handled by Object 505? We are fine with this approach but the naming of the objects must reflect this, which the current namings don’t. The users are fully aware whether they use GSMA eSIM or nuSIM. Hence, our proposal is to ca

[2021-04-27 14:19] mkgillmore commented on #589
@akeranen Any update on this?

[2021-04-27 14:49] akeranen commented on #589
The PR is good to go?

[2021-05-11 14:18] hannestschofenig commented on #607
Based on Object 504 and 505 in https://github.com/OpenMobileAlliance/lwm2m-registry/pull/606 and https://github.com/OpenMobileAlliance/lwm2m-registry/pull/604 this issue can be closed.

[2021-05-11 14:18] mkgillmore commented on #607
Closed per 5/11/2021

[2021-05-11 14:18] #607 closed, assigned to akeranen, PerStahl, asoloway64

[2021-05-18 14:50] mkgillmore commented on #257
Group agreed to closed due to a pull request addressing the issue

[2021-05-18 14:50] #257 closed, assigned to akeranen, mkgillmore

[2021-05-18 14:52] #583 closed, assigned to mkgillmore

[2021-05-18 14:56] mkgillmore commented on #602
@akeranen How many objects are inconsistent?  Perhaps we should try using tidyxml

[2021-05-18 15:27] mkgillmore commented on #600
3303 has been made a version available.

SDF draft https://datatracker.ietf.org/doc/html/draft-ietf-asdf-sdf-05

We will continue to examine SDF and consider over time changes to their models.

@jaimejim @mkgillmore Lets select a good set of objects

[2021-05-18 20:10] akeranen commented on #602
Good question, I haven’t done any thorough study. But yes, using consistent style fixer like tidyxml would make sense.

[2021-05-25 13:19] seanmcilroy29 commented on #589
Object updated - See PR https://github.com/OpenMobileAlliance/lwm2m-registry/pull/611

[2021-05-25 13:19] #589 closed, assigned to nobody

[2021-05-25 13:19] #566 closed, assigned to seanmcilroy29

[2021-05-31 13:09] SeppoTakalo opened #615 "[question] Why firmware object is single instance?"
I would like to raise a question regarding [Firmware update object 5](https://github.com/OpenMobileAlliance/lwm2m-registry/blob/prod/5.xml).

Why it is limited to single instance?

I'm working on embedded IoT device with multiple firmware images and looking for solution to update them all. If the given object id 5 would allow multiple instances, I would be able to specify for example that
5/0  wou

[2021-06-08 11:28] hannestschofenig commented on #615
The Firmware Update Object should be seen as a delivery mechanism. We agree that having multiple instances of this Object would be nice. This was overlooked when creating the Object for LwM2M 1.0. For your particular use case, the package could contain indication on the recipient of the update. Please have a look at the SUIT manifest https://datatracker.ietf.org/doc/draft-ietf-suit-manifest/.

[2021-06-08 14:44] hannestschofenig commented on #602
Matt has the AI to look at the issue.

[2021-06-08 14:45] #585 closed, assigned to nobody

[2021-06-08 15:10] hannestschofenig commented on #444
If you want to determine the list of objects defined in the respective LwM2M version, then you need to look at the specification.

If you want to filter all objects where the <LWM2MVersion> element contains a specific version number then you can do this via a script.

The group does not see a need to enhance the functionality of the API at this point in time.

[2021-06-08 15:15] mkgillmore commented on #444
@sbernard31 We think this issue can be best resolved by parsing objects for the <LWM2MVersion>1.0</LWM2MVersion> tag on our lwm2m registry in git hub.  We have created a version history folder for this purpose https://github.com/OpenMobileAlliance/lwm2m-registry/tree/prod/version_history

[2021-06-08 15:15] #444 closed, assigned to hannestschofenig, mkgillmore

[2021-06-08 15:20] sbernard31 commented on #444
Too bad :-/

[2021-06-09 09:21] SeppoTakalo commented on #615
Hi @hannestschofenig and thank you for your answer.

It is true that delivered package could contain metadata required to identify which target it is meant for. However, in my opinion, this feels a bit hacky for two reasons. Firstly, the firmware object exposes version string, but if you can deliver multiple images, which version this is, or should it be a combined string of all version numbers? S

[2021-06-18 13:26] sbernard31 opened #623 "Adding a new Test Object Definition"
In Leshan we have kind of Test Object Model which all kind of resource which allow us to do/write some units tests.

Recently a Leshan user opened an issue and I realize that it also create a kind of object like this on its own.  (https://github.com/eclipse/leshan/issues/1024#issuecomment-863570941)

Should we register a new Object like this which could help for testing for everybody ?

In case th

[2021-06-18 13:29] sbernard31 commented on #623
@bocajim, @mlasch, @qleisan, @tuve, @rettichschnidi   what do you think ?

[2021-06-18 13:34] sbernard31 commented on #519
Those was fixed in LWM2M 1.2, I strongly think that this fix should be backported on [version_history/1-1_1.xml](https://github.com/OpenMobileAlliance/lwm2m-registry/blob/prod/version_history/1-1_1.xml)

@jpradocueva  @hannestschofenig what do you think about this ?

[2021-06-18 13:43] bocajim commented on #623
Personally (and as the creator of this particular object), I think it would be very helpful if we had a standard test object we encourage all clients/servers to be able to use.  As we add more encodings to the spec the number of permutations that need to be tested is difficult to test.  Having consistency makes test automation for interoperability much easier, as well as reduces development time v

[2021-06-18 17:37] jpradocueva commented on #623
With regards to Object Ranges.
Please note that in the LwM2M Registry there is a section called ["ObjectID Classes"](http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html), which defines the available Object ranges.

I see two possible options, to use the "reserved" range or the "ext-label" range. The IPSO/DMSE WG should be able to comment on which range is more suitable. @mkgillmore,

[2021-06-18 17:59] jpradocueva commented on #519
Changes to the LwM2M Objects are guided (partially) by the principles of [Semantic Versioning](https://semver.org/).
I say partially because unfortunately, we used only two digits for the version (VX.Y) rather than the suggested three digits (VX.Y.Z).

Each time that an Object changes, the group needs to evaluate the type of changes, see [7.2.1 General Policy](https://www.md2html-tool.com/docs/Ope

[2021-06-21 09:46] sbernard31 commented on #519
I'm not sure if using only 2 digits for versioning is a good idea but keeping bugged version of model doesn't make sense to me.
I mean in this particular case, we have several resource without any Operation, how this can be used ?
Either we need to remove it or add value to the operation field.  (probably to add value)

If none of this is done, what will do implementers ?
- either they will contin

[2021-06-21 18:18] jpradocueva commented on #519
@sbernard31 thanks for the clarification. I will bring this issue to tomorrow's IPSO/DMSE meeting

[2021-06-21 18:39] pelya commented on #519
different way and so with interoperability issue)

That's what we did in our client, the spec is pretty clear that these
resources should have at least the Read permission, and the scheme has a
typo, so we implemented Read operation.

[2021-06-22 15:23] dnav commented on #519
Personal opinion:

Using version 1.1 of the Object with different operations than those defined in the XML can only lead to interoperability issues.

Version 1.1 contains buggy but **optional** Resources. If these Resources are needed for your use-case, you should consider using the version 1.2 of the Object.

[2021-06-22 15:35] sbernard31 commented on #519
I agree

But the version v1.2 of this object  targets LWM2M v1.2 as minimal version.
So if you are using LWM2M v1.1 you can not bump to the version 1.2 of this object. :disappointed:

This kind of scenario show why we need a way to release bug fix for object model.

[2021-07-01 12:53] sbernard31 commented on #623
@bocajim would you be OK to register this object at OMA, providing a PR to this repository ?
If the process is unchanged since last time, I did that you should first :
- open a ticket (E.g. https://github.com/OpenMobileAlliance/lwm2m-registry/issues/502)
- then create a PR (E.g. https://github.com/OpenMobileAlliance/lwm2m-registry/pull/504)

@mkgillmore, @hannestschofenig any advice about the ID r

[2021-07-01 13:15] bocajim commented on #623
Yeah, i can do that, we just got our OMA membership finalized.

Jim

On Thu, Jul 1, 2021, 8:53 AM Simon ***@***.***> wrote:

[2021-07-08 08:41] sbernard31 commented on #623
@mkgillmore, @hannestschofenig  any comments ?

I guess it just missing the ID range to go forward on this topic ?

[2021-07-08 09:14] seanmcilroy29 commented on #623
@mkgillmore, @hannestschofenig
Can you specify which ObjectID class this will be allocated to and I'll begin the registration process?

[2021-07-21 10:58] hannestschofenig commented on #623
Regarding the object id range this object belongs to, I would put it in the  **2048 - 10240 range**. We could say it comes from the Eclipse Foundation (as a source)

FWIW I think this is a very useful object to register.

[2021-07-21 17:39] seanmcilroy29 commented on #623
ok - I'll reserve the next available ID 3441 under the ext-label, and the Owner will be the Eclipse Foundation

[2021-07-22 08:20] sbernard31 commented on #623
@bocajim, @fdesbiens is it OK to you to make  the Eclipse Foundation as the Owner of this Object ? It sounds a good idea to me.

@fdesbiens, just in case you  are not aware of this :
LWM2M has a registry where some additional device behavior are defined in Object Model file, Those models can be shared between servers and devices to help for interoperability.  See [LwM2M Registry](http://www.openmo

[2021-07-22 08:37] seanmcilroy29 commented on #623
@bocajim - Here is the readme file that outlines the process - https://github.com/OpenMobileAlliance/lwm2m-registry/blob/prod/README.md

Click here to create a [new Issue](https://github.com/OpenMobileAlliance/lwm2m-registry/issues/new) - this'll provide you with a registration template. Once you submit your Issue, I'll reserve your registration and create a new branch for you to submit your PR.

[2021-07-22 10:42] bocajim commented on #623
@sbernard31 I'm OK with it going under the Eclipse Foundation.  Also, someone needs to add an executable resource for completeness.

I'm very busy at the moment, so if you want to wait for me, I'll look at this towards the end of summer, otherwise anyone else is more than welcome to submit it.

[2021-07-22 12:37] fdesbiens commented on #623
@sbernard31 Given the context you provided, it completely makes sense for the Foundation to be the owner. Our open source projects do not have their own juridical personality. Please let me know if you need anything from me to make this happen.

[2021-07-26 08:10] sbernard31 commented on #623
Thx to let us know that. I have also some task to finished first. I will inform you before to work on this.

[2021-07-27 14:26] kFYatek opened #635 "[AVSystem] Modbus Connection, Modbus Register Cluster"
## Registration Information ##
### 1. Choose the type of registration: ###
  - [x] ```Object```
  - [ ] ```Reusable Resource```

### 2. Choose the [Object Class](http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html#registry-table): ###
  - [ ] 3rd party Standards or Alliances
  - [x] Private companies
  - [ ] Private individuals (not allowed Reusable Resources registration)

## 3. Co

[2021-08-03 12:22] sbernard31 commented on #623
@bocajim, I will begin to work on this.

[2021-08-04 10:10] sbernard31 opened #636 "[Eclipse Foundation] Object Registration `Test Object`"
## Registration Information ##
### 1. Choose the type of registration: ###
  - [x] ```Object```
  - [ ] ```Reusable Resource```

### 2. Choose the [Object Class](http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html#registry-table): ###
  - [x] 3rd party Standards or Alliances
  - [ ] Private companies
  - [ ] Private individuals (not allowed Reusable Resources registration)

## 3. Co

[2021-08-04 10:13] sbernard31 commented on #636
This was triggered by #623.
Any better propositions about name or description are welcomed.

Following https://github.com/OpenMobileAlliance/lwm2m-registry/issues/623#issuecomment-884369277 the ID for this object should be **3441**.

[2021-08-04 10:14] sbernard31 commented on #623
I created the issue to start the process : #636

[2021-08-31 22:26] Ramzi04 opened #637 "HVAC IPSO Object not found"
I am looking for **HVAC** ( Heating, Ventilation, and Air Conditioning) object that is a composed object containing:
1.	Thermostat.
2.	Air Conditioner
3.	Temperature sensor
4.	Humidity sensor
5.	Heater

I looked for the **HVAC** IPSO object in the IPSO object registry [online](http://www.openmobilealliance.org/wp/omna/lwm2m/lwm2mregistry.html).
Unfortunately, I didn't find any trace for it?

Any h

[2021-09-07 15:26] mkgillmore commented on #623
Closed to do this work due to the creation of #636

[2021-09-07 15:26] #623 closed, assigned to nobody

[2021-09-07 15:32] mkgillmore commented on #602
Group agrees that if indentation changes occur,  the objects do not need to have revisions.

[2021-09-07 15:49] mkgillmore commented on #637
@Ramzi04  We IPSO have a few questions about what you would like to have.

1) Are you looking to have 5 objects combined into a single object
2) What functionality are you looking for in each of the items you mentioned

[2021-09-07 16:51] jpradocueva commented on #636
@sbernard31 a new branch has been created for this request, https://github.com/OpenMobileAlliance/lwm2m-registry/tree/test-object

Please apply a single Pull Request against this branch ["test-object"](https://github.com/OpenMobileAlliance/lwm2m-registry/tree/test-object) following the recommendations in the [README](https://github.com/OpenMobileAlliance/lwm2m-registry/blob/test-object/README.md)

[2021-09-08 08:00] Ramzi04 commented on #637
Thanks @mkgillmore  for the help.

I am actually an IoT developer and I am trying to create an IoT dataset using IPSO Objects.
One of the specifications in this dataset is to have a, **HVAC** (Heating, Ventilation, and Air Conditioning) data included.
HVAC is composed of :

1. **Thermostat** to manage the temperature.
2. **Air Conditioner** is commanded via Thermostat to , provides cooling.
3. **T

[2021-09-10 15:44] sbernard31 commented on #636
The PR is created #639.

[2021-09-20 06:49] BTE164 opened #640 "[George Kent (Malaysia) Berhad] Object Registration (Periodic Activity)"
## Registration Information ##
### 1. Choose the type of registration: ###
  - [x] ```Object```
  - [ ] ```Reusable Resource```

### 2. Choose the [Object Class](http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html#registry-table): ###
  - [ ] 3rd party Standards or Alliances
  - [x] Private companies
  - [ ] Private individuals (not allowed Reusable Resources registration)

## 3. Co

[2021-09-23 13:04] sbernard31 commented on #636
:warning: following https://github.com/OpenMobileAlliance/lwm2m-registry/pull/639#discussion_r712713020 the Object name was renamed.

[2021-09-27 07:09] #615 closed, assigned to nobody

[2021-10-06 20:35] ahedin25 opened #643 "Add RSSI (6045) as optional resource to Gateway Object (25)"
## Registration Information ##
### 1. Choose the type of registration: ###
  - [x] ```Object```
  - [ ] ```Reusable Resource```

Concept            | Description
:----------------|:------------------------------
Number of ```Object(s)``` or ```Reusable Resource(s)``` to register  | 1
Name of SDO, Company or individual    | Laird Connectivity

[2021-10-08 07:03] BTE164 commented on #640
Any one can create a branch for this?

[2021-10-08 13:50] jpradocueva commented on #640
@BTE164 hi Muhammah, as a maintainer of this repository we only can create the branches once the group has reviewed the request. Next Tuesday will be an IPSO/DMSE Working /Group meeting. We will make sure that the group acknowledge this request.

[2021-10-08 14:30] hannestschofenig commented on #637
As mentioned in https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/531 I would not attempt to create an object that describes an HVAC.

IMHO this will not provide you with any value.

Instead, I would see the entire IoT device that is being managed as the HVAC. That IoT device happens to have use these 5 objects (and in fact many more, for example, objects related to security, f

[2021-10-08 18:44] BTE164 commented on #640
Thanks you @jpradocueva for the reply.

[2021-10-10 10:31] BTE164 opened #644 "[George Kent (Malaysia) Berhad] Object Registration (Data Monitoring)"
## Registration Information ##
### 1. Choose the type of registration: ###
  - [x] ```Object```
  - [ ] ```Reusable Resource```

### 2. Choose the [Object Class](http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html#registry-table): ###
  - [ ] 3rd party Standards or Alliances
  - [x] Private companies
  - [ ] Private individuals (not allowed Reusable Resources registration)

## 3. Co

[2021-10-12 15:30] mkgillmore commented on #636
Closed 10-12-2021 because a pull request to create 3441 was merged into the repository

[2021-10-12 15:30] #636 closed, assigned to seanmcilroy29

[2021-10-12 15:37] sbernard31 commented on #636
I'm a bit confused because I get any answer to my concerns about naming (see https://github.com/OpenMobileAlliance/lwm2m-registry/pull/639#issuecomment-929388026)

[2021-10-12 16:00] mkgillmore commented on #636
Simon,

I have kept the branch open if you want to make future changes.  My apologies if I merged this too quickly.

1/LwM2M v1.0 Tester
2/LwM2M v1.0 Test Object
3/LwM2M v1.0 Specification Tester
4/LwM2M v1.0 Specification Test Object

I was thinking we keep object 3441 as the lwm2m 1.0 test object.  In the future 3442 can be 1.1 and 3443 can be 1.2, etc

  *   Matt

From: Simon ***@***.***>
Sent:

[2021-10-12 16:06] sbernard31 commented on #636
no problem.

Yes I get it but,
Currently the Object 3441 is named `LwM2M Specification Test Object`.
How will we name name 3442 and 3443 ? with the same name `LwM2M Specification Test Object` ?

If yes, that sounds a bit strange but maybe it's OK.
If no, I'm currently asking which name pattern is better appropriate ? (And so I changed it for 3441)

[2021-10-12 16:12] mkgillmore commented on #636
Perhaps 3441 should be named LwM2M 1.0 Specification Test Object

3442 should be named LwM2M 1.1 Specification Test Object
3443 should be named LwM2M 1.2 Specification Test Object

Does that makes sense?

From: Simon ***@***.***>
Sent: Tuesday, October 12, 2021 12:07 PM
To: OpenMobileAlliance/lwm2m-registry ***@***.***>
Cc: Gillmore, Matthew ***@***.***>; State change ***@***.***>
Subject: [EXTERN

[2021-10-12 16:15] sbernard31 commented on #636
As explained at https://github.com/OpenMobileAlliance/lwm2m-registry/pull/639#issuecomment-930013857

I don't like it so much because I feel this is too long name.
That's why I tried to proposed shorter one.
But If you prefer the long one I can go with it ?

[2021-10-12 16:16] sbernard31 commented on #636
@hannestschofenig  maybe you have an opinion about this ?

[2021-10-12 16:39] jpradocueva commented on #644
Due to lack of quorum, DMSE/IPSO postponed the review of this request for the next group meeting, Oct 19th.

[2021-10-12 16:39] jpradocueva commented on #643
Due to lack of quorum, DMSE/IPSO postponed the review of this request for the next group meeting, Oct 19th.

[2021-10-12 16:40] jpradocueva commented on #640
Due to lack of quorum, DMSE/IPSO postponed the review of this request for the next group meeting, Oct 19th.

[2021-10-12 16:40] jpradocueva commented on #635
Due to lack of quorum, DMSE/IPSO postponed the review of this request for the next group meeting, Oct 19th.

[2021-10-12 19:18] akeranen commented on #600
We were planning to start with the [Voltage](https://github.com/one-data-model/playground/blob/master/sdfObject/sdfobject-voltage.sdf.json) and [Current](https://github.com/one-data-model/playground/blob/master/sdfObject/sdfobject-current.sdf.json) objects but we'll take another look at the current design pattern where the unit is a resource (as that can cause interop problems as discussed in our

[2021-10-13 07:29] Ramzi04 commented on #637
I appreciate your help @hannestschofenig.

[2021-10-13 07:29] #637 closed, assigned to Ramzi04

[2021-10-13 14:18] ahedin25 commented on #643
After some review, it is preferred to use an integer for RSSI and have the units as dBm instead of dBW.

[2021-10-20 00:23] jpradocueva commented on #643
@ahedin25 The group has agreed. a while ago, that it is not possible to update existing resources. If it is really necessary, then a new Reusable Resource should be created.
I am also adding here the chair of the IPSO Working Group, Matt ( @mkgillmore ) in case he would like to provide some additional comments.

[2021-10-20 01:56] jpradocueva commented on #623
@sbernard31 , @mkgillmore I have created a new branch [3442_3443](https://github.com/OpenMobileAlliance/lwm2m-registry/tree/3442_3443) for you to continue the development of the Test Objects for v1.1 and v1.2.

Please upload one pull request per Object or for both Objects. If you upload multiple pull requests to define an object the tool will identify some missing components and you will have mult

[2021-10-20 02:11] jpradocueva commented on #635
@kFYatek I have created a new branch https://github.com/OpenMobileAlliance/lwm2m-registry/tree/10374_10375-AVSystem. As you can see the Objects ID for each of the registration is 10374 and 10375, the DDF.xml is updated accordingly but you will need to add the objects in the DDF property.

Please read the [README.md guidelines](https://github.com/OpenMobileAlliance/lwm2m-registry/tree/10374_10375-A

[2021-10-20 02:27] jpradocueva commented on #644
@BTE164 I have created a branch [G-10376_10377-G-Kent-Malaysia](https://github.com/OpenMobileAlliance/lwm2m-registry/tree/10376_10377-G-Kent-Malaysia) for uploading one PR per each object to register.

As you can see Object ID 10376 correspond to your Object name `Periodic Activity` and Object ID 10377 for `Data Monitoring`

Please read the instructions in the [README.md](https://github.com/OpenMo

[2021-10-20 02:27] jpradocueva commented on #640
@BTE164 I have created a branch [G-10376_10377-G-Kent-Malaysia](https://github.com/OpenMobileAlliance/lwm2m-registry/tree/10376_10377-G-Kent-Malaysia) for uploading one PR per each object to register.

As you can see Object ID 10376 correspond to your Object name `Periodic Activity` and Object ID 10377 for `Data Monitoring`

Please read the instructions in the [README.md](https://github.com/OpenMo

[2021-10-20 09:14] kFYatek commented on #635
I have created the PR, #646. I hope that I did not do anything wrong.

[2021-11-08 12:22] BTE164 commented on #640
@jpradocueva May I know how long do I have to upload the objects? I'm testing the objects with my device and requires a bit more time to fine tune the proposed objects.

[2021-11-09 01:13] jpradocueva commented on #640
@BTE164 no worries, as long as you need. We are doing some changes to the way we work with GitHub if this has any impact on your branch I will let you know.

[2021-11-16 15:32] mkgillmore commented on #635
Group agreed to close this issue because the pull request 646 was merged

[2021-11-16 15:32] #635 closed, assigned to nobody

[2021-11-17 12:37] kFYatek commented on #635
Thanks for merging! However, I don't see this on the default branch or in the web-based registry yet. Is this an omission on your side or are there any additional steps that need to be taken?

[2021-11-18 03:15] jpradocueva commented on #635
@kFYatek there are additional steps that need to be done by me. I will do it this week.

[2021-11-18 17:53] jpradocueva commented on #635
@kFYatek unfortunately, the group is reviewing object 3441 that was already merged into the "dev" branch. Until this review is not completed we cannot publish your two objects 10374 & 10375. Otherwise, we will publish incomplete content in 3441.xml. Please bear with us until this is resolved. Sorry for the inconvinience.

[2021-11-19 10:37] kFYatek commented on #635
@jpradocueva That's not a problem. I was just confused about what was happening. Thank you for the information, please take your time.

[2021-12-20 10:42] sbernard31 opened #656 "Bad schema for object 502, 503, 504, 505 ?"
Leshan Model validator detects error for object 502, 503, 504, 505.

Leshan says that `LWM2MVersion` must be updated but maybe in this case this is rather the `noNamespaceSchemaLocation` which should be adapted.

[code]

[2021-12-30 14:29] #643 closed, assigned to mkgillmore

[2022-02-08 16:11] #600 closed, assigned to akeranen

[2022-02-21 10:16] ezhaboy opened #657 "Object Registration(Edge Application Server Information)"
## Registration Information ##
### 1. Choose the type of registration: ###
  - [x] ```Object```
  - [ ] ```Reusable Resource```

### 2. Choose the [Object Class](http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html#registry-table): ###
  - [ ] 3rd party Standards or Alliances
  - [x] Private companies
  - [ ] Private individuals (not allowed Reusable Resources registration)

## 3. Co

[2022-03-01 04:17] jpradocueva commented on #657
@ezhaboy Daniel, thanks for starting the registration process.

Please proceed to submit your PR with the new  object`10378.xml` against the root of the branch https://github.com/OpenMobileAlliance/lwm2m-registry/tree/ericsson_10378.  Also, using the same PR upload the content of the same object in a new file `10378-1_0.xml' but inside of the folder `version_history`  as indicated in the [README](

[2022-03-01 16:12] hannestschofenig commented on #602
https://github.com/OpenMobileAlliance/lwm2m-registry/edit/prod/3336.xml still has tabs.

[2022-03-15 16:12] #602 closed, assigned to mkgillmore

[2022-04-19 16:29] jpradocueva commented on #644
See PRs #669 and #668

[2022-04-19 16:29] #644 closed, assigned to nobody

[2022-04-19 16:29] jpradocueva commented on #640
See PRs #669 and #668

[2022-04-19 16:29] #640 closed, assigned to nobody

[2022-04-19 16:32] jpradocueva commented on #657
@ezhaboy Daniel, what do you want us to do with the branch https://github.com/OpenMobileAlliance/lwm2m-registry/tree/ericsson_10378.?
This branch is a placeholder for your Object ID 10378. I cannot be used by any other object. We can close it as this object is reserved to you or keep it open.

[2022-04-20 07:34] ezhaboy commented on #657
Please help to close, sorry for inconvenience.

[2022-04-20 07:34] #657 closed, assigned to nobody

[2022-05-10 08:31] jaimejim commented on #656
There were few additions (CoreLink and UnsignedInt) on v1.1 (CoreLnk and unisgned Integer) but the types are not used on 502, 503, 504, 505 so you can just change the schema link to `LWM2M.xsd` and keep the version 1.0 IMO.

<img width="663" alt="image" src="https://user-images.githubusercontent.com/1798358/167584600-8dc19fd7-f054-4494-9e44-ebbf9b067a10.png">

[2022-05-10 08:51] sbernard31 commented on #656
I agree with that. :+1:
This is what I done on my side in Leshan but **I think this should be fixed in LWM2M registry** too.

Any opinion about this ?

[2022-05-10 09:57] rkandoi commented on #656
Yes, the proposal to update the registry and improve the guidelines will (hopefully) be discussed in the DMSE WG today. Will provide an update and/or a fix after that.

[2022-05-12 11:16] rkandoi commented on #656
@sbernard31 : First, it was agreed that the fix you applied with Leshan will also be applied in the lwm2m-registry (in the near future).

Second, to be sure about the issue itself, would like to confirm with you my hypothesis that the issue is actually a Leshan specific issue. In other words, the XML schema validation for mentioned objects should still pass with the 1.1 schema. But perhaps Leshan

[2022-05-12 13:53] sbernard31 commented on #656
Good to know :tada:

If you're question is :
Are those file valid from a "pure" xml point of view ? and so are they valid from the LWM2M-v1_1.xsd point of view ?
Yes I think there are.

But I would not says this is a "Leshan specific issue".
Leshan checks that the xml file respects the xsd but also do some LWM2M specific checks
One of this check is to be sure that `<LWM2MVersion>` and schema are c

[2022-05-17 11:45] BTE164 opened #674 "Object 10377(Data Monitoring): Wrong resource 13 Type"
As per its description, the resource is supposed to hold CBOR data and thus needs to be of type "Opaque" instead of "Integer".
[code]

[2022-06-14 15:16] mkgillmore commented on #674
@BTE164 Are you ok with this being a 1.0 patch to fix or do you want a 1.1 version to address this issue?

[2022-06-14 15:21] BTE164 commented on #674
@mkgillmore , i'm ok with it being a 1.0 patch.

[2022-06-14 16:08] mkgillmore commented on #674
I’ve created a branch and pull request to address this issue.  Please see https://github.com/OpenMobileAlliance/lwm2m-registry/pull/678
If you are ok with the patch,  I’ll merge it into prod.  Please let me know.

Thanks

Matt

From: Muhammad Bin Ahmad ***@***.***>
Sent: Tuesday, June 14, 2022 11:22 AM
To: OpenMobileAlliance/lwm2m-registry ***@***.***>
Cc: Gillmore, Matthew ***@***.***>; Mention *

[2022-06-28 13:54] #674 closed, assigned to nobody

[2022-06-28 13:54] mkgillmore commented on #674
Group agrees to close this issue on 6/21/2022

[2022-06-28 13:57] #656 closed, assigned to nobody

[2022-08-26 18:13] davidahoward opened #683 "Object/Resource /4/2 missing units"
As stated in the description, the units should be dBm

[2022-10-11 08:15] BTE164 commented on #674
Hi Matt,

Sorry for the late reply, I’m ok with the patch. Thank you.

Regards,

Muhammad Bin Ahmad

From: mkgillmore ***@***.***
Sent: Wednesday, 15 June, 2022 12:09 AM
To: OpenMobileAlliance/lwm2m-registry ***@***.***>
Cc: Muhammad Bin Ahmad ***@***.***>; Mention ***@***.***>
Subject: Re: [OpenMobileAlliance/lwm2m-registry] Object 10377(Data Monitoring): Wrong resource 13 Type (Issue #674)

I’ve

[2022-10-12 22:06] davidahoward opened #687 "Bootstrap LWM2M Security object 0 resource 3,4,5: When is mandatory not mandatory?"
## LWM2M Security object has several resources that are defined 'Mandatory that at best appear to be conditionally Mandatory.

# Resource 3 Public Key or Identity
Stores the LwM2M Client's certificate, public key (RPK mode) or PSK Identity (PSK mode).

When the Security Mode resource 2 = 3 (NoSec) resource 3 has no meaning.

# Resource 4 Server Public Key
Stores the LwM2M Server's, respectively Lw

[2022-10-12 23:09] davidahoward commented on #687
it could also be fixed in a manner similar to Resource 10 Short Server ID, which is Optional but has text in the description section that clarifies when it MUST be used:
"This Resource MUST be set when the Bootstrap-Server Resource has a value of 'false'."

[2022-10-18 14:07] hannestschofenig commented on #683
Matt will create PR to fix this issue.

[2022-10-28 15:40] jvermillard opened #690 "RangeEnumeration are not consistent with the specification"
The specification (appendix D of the LWM2M 1.1 core spec):

But in practice in the repository we have a zoo of different format, example:

[code]
This is not machine readable as stated on the LWM2M Registry Guidelines: https://github.com/OpenMobileAlliance/lwm2m-registry/wiki/Guidelines

[2022-11-16 09:56] Dolton12 opened #691 "Ni"

[2022-11-22 09:45] david-bohaty-thalesgroup opened #692 "GSMA ESipa object"
## Registration Information ##
### 1. Choose the type of registration: ###
  - [X] ```Object```
  - [ ] ```Reusable Resource```

### 2. Choose the [Object Class](http://www.openmobilealliance.org/wp/OMNA/LwM2M/LwM2MRegistry.html#registry-table): ###
  - [X] 3rd party Standards or Alliances
  - [ ] Private companies
  - [ ] Private individuals (not allowed Reusable Resources registration)

## 3. Co

[2022-11-22 16:32] mkgillmore commented on #687
Resolved via PR #808 in LWM2M repository for 1.2.1

[2022-11-22 16:32] #687 closed, assigned to nobody

[2022-11-25 04:06] #691 closed, assigned to nobody